<div class="dashboard-wrapper">
  <div class="no-clusters" *ngIf="clusters?.length == 0 && cloudAccounts?.length != 0">
    <div class="providers"></div>

    <div class="communication">
      <h1 class="headline">Welcome to Control.</h1>
      <p class="description">You're minutes away from your very own highly configurable Kubernetes cluster. What are you waiting for?</p>
      <div class="button-wrapper">
        <button mat-raised-button [routerLink]="['/clusters/new']" type="button">SPIN UP A CLUSTER</button>
        <button mat-raised-button [routerLink]="['/clusters/import']" type="button">IMPORT A CLUSTER</button>
      </div>
    </div>
  </div>

  <div class="empty-cloud-accounts" *ngIf="cloudAccounts?.length == 0">
    <div class="providers"></div>

    <div class="communication">
      <h1 class="headline">Welcome to Control.</h1>
      <p class="description">Link an AWS, GCE, Azure, or Digital Ocean account and have a Supergiant cluster up in minutes</p>
      <button mat-raised-button [routerLink]="['/system/cloud-accounts/new']" type="button">LINK AN ACCOUNT</button>
    </div>
  </div>

  <div *ngIf="clusters?.length != 0 && cloudAccounts?.length != 0" class="clusters-wrapper">
    <div class="cluster-list-views">
      <!-- orb view -->
      <svg (click)="setClusterListView('orb', $event)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <defs>
          <style>.a,.b{fill:none;}.b{opacity:0.87;}.c{fill:#d10088;}.d{fill:#fff;}</style>
        </defs>
        <g transform="translate(-1254 -101)">
          <g transform="translate(1254 101)">
            <path class="a" d="M0,0H24V24H0Z"/>
            <path class="b" d="M0,0H24V24H0Z"/>
          </g>
          <path [ngClass]="{ 'c': clusterListView == 'orb', 'd': clusterListView == 'list' }" d="M2,18H7V13H2Zm0-7H7V6H2Zm0,7H7V13H2Zm0-7H7V6H2Z" transform="translate(1266 101)"/>
          <path [ngClass]="{ 'c': clusterListView == 'orb', 'd': clusterListView == 'list' }" d="M2,18H7V13H2Zm0-7H7V6H2Zm0,7H7V13H2Zm0-7H7V6H2Z" transform="translate(1257 101)"/>
        </g>
      </svg>
      <!-- list view icon -->
      <svg (click)="setClusterListView('list', $event)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <defs>
          <style>.a,.b{fill:none;}.b{opacity:0.87;}.c{fill:#d10088;}.d{fill:#fff;}</style>
        </defs>
        <g transform="translate(-1294 -101)">
          <g transform="translate(1294 101)">
            <path class="a" d="M0,0H24V24H0Z"/>
            <path class="b" d="M0,0H24V24H0Z"/>
          </g>
          <path [ngClass]="{ 'c': clusterListView == 'list', 'd': clusterListView == 'orb' }" d="M4,13H20V11H4Zm0,5H20V16H4ZM4,6V8H20V6Zm0,7H20V11H4Zm0,5H20V16H4ZM4,6V8H20V6Z" transform="translate(1294 101)"/>
        </g>
      </svg>
    </div>

    <div class="cluster-list-wrapper">
      <div class="orbs-wrapper" *ngIf="clusterListView == 'orb'">
        <usage-orb *ngFor="let c of clusters; trackBy: trackByFn" [cluster]="c"></usage-orb>
      </div>

      <div class="list-wrapper" *ngIf="clusterListView == 'list'">
        <cluster-table *ngFor="let c of clusters; trackBy: trackByFn" [cluster]="c"></cluster-table>
      </div>
    </div>
  </div>

  <div *ngIf="clusters?.length != 0 && cloudAccounts?.length != 0" class="home-actions">
    <button mat-raised-button [routerLink]="['/system/cloud-accounts/new']" type="button">LINK AN ACCOUNT</button>
    <button mat-raised-button [routerLink]="['/clusters/new']" type="button">SPIN UP A CLUSTER</button>
    <button mat-raised-button [routerLink]="['/clusters/import']" type="button">IMPORT A CLUSTER</button>
    <button mat-raised-button [routerLink]="['/catalog/supergiant']" type="button">DEPLOY AN APP</button>
  </div>
</div>
