a[mat-raised-button] {
    padding-top: 0.2rem;
    height: 2.7rem;
    font-size: 1rem;
}

.app-dashboard-tutorial > input[type="radio"]:checked {
    background-color: #af097a;
}

.more-headline {
	margin-top: 16px;
}
