@import "src/assets/css/variables";

.sg-icon {
  width: 16px;
  height: 16px;
  margin-right: -26px;
}

.repo-item {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrapper {
  padding: 0;
  width: 100%;
}

.content-wrapper {
  margin-top: 24px;
}

.search-input {
  width: 140px;
  opacity: .5;

  &.mat-focused {
    opacity: 1;
  }
}

button {
  &.clear {
    border: none;
    background: transparent;
    color: grey;
  }
}

.apps-nav {
  display: flex;
  justify-content: flex-end;

  a {

    &:hover {
      color: white;
      text-decoration: none;
    }

    display: flex;
    margin-left: 32px;
    cursor: pointer;

    &.active {
      display: inline-block;
      border-bottom: 2px solid $sg-pink;
      display: inline-block;
      border-bottom: 1px solid $sg-pink;
      color: $sg-pink;
    }

    &.add-repo {
      color: $sg-pink;
    }
  }
}

:host {
  position: relative;
  &::ng-deep {

    h2 {
      font-size: 32px !important;
    }

    h3 {
      letter-spacing: 2px;
      font-size: 26px !important;
    }

    h2, h3 {
      font-weight: 200 !important;
    }
    .app-card {
      max-width: 295px;
      min-height: 263px;
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 32px;
      }
      .mat-card-actions {
        margin-top: auto !important;
      }
    }

    button {
      outline: none;

      &[mat-button] {
        padding: 8px 32px;

        &[color='secondary'] {
          color: #fff;
          border: 1px solid #fff !important;
          background-color: transparent !important;
        }

        &[color='primary'] {
          color: #fff;
          border: none;
          background-color: #D10088 !important;
        }
      }
    }

    .mat-card-actions {
      margin: 0 !important;
    }

    .mat-card-header-text {
      margin: 0 !important;
    }

    .mat-card {
      background: rgba(0, 0, 0, 0.7) !important;
      border-width: 1px;
      border-style: solid;
      border-color: rgba(white, .2);
    }
  }
}
