<section class="header">
  <h1>
    Apps Store
  </h1>

  <input class="search-input"
         type="text"
         placeholder="Filter apps by name">

  <nav class="apps-nav">
    <a routerLinkActive="active"
       [routerLink]="['supergiant']"><span>Supergiant</span>
      <hr></a>
    <a routerLinkActive="active"
       [routerLink]="['verified']">Verified</a>
    <a routerLinkActive="active"
       [routerLink]="['others']">Others</a>
    <a routerLinkActive="active"
       [routerLink]="['add']" class="add-repo"><i class="fa fa-plus-circle"></i></a>
  </nav>
</section>


<router-outlet></router-outlet>
