.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  background: transparent;
  border: none;
}

.apps-nav {
  display: flex;
  justify-content: flex-end;

  a {
    display: flex;
    margin-left: 32px;
    cursor: pointer;

    .active {
      color: red;
      text-decoration: black ;
    }
  }
}

:host {
  &::ng-deep {
    .mat-card {
      max-width: 295px;
      min-height: 263px;
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 32px;
      }
      .mat-card-actions {
        margin-top: auto!important;
      }
    }
  }
}
