<section class="header-wrapper">
  <section class="header">
    <ng-container *ngIf="showBreadcrumbs; else defaultHeader">

      <breadcrumbs></breadcrumbs>
    </ng-container>

    <ng-template #defaultHeader>
      <h1>
        Service Catalog
      </h1>

      <div><input (keyup)="filterApps($event)"
                  class="search-input"
                  type="search"
                  placeholder="Filter apps by name"
                  #filterInput>
        <button class="clear"
                [hidden]="!filterInput.value"
                (click)="filterClear(filterInput)"><i class="fa fa-remove"></i></button>
      </div>
    </ng-template>

    <nav class="apps-nav">
    <span *ngFor="let repo of (reposList$ | async)?.slice().reverse() ">
      <a routerLinkActive="active"
         [routerLink]="[repo.name]">{{ repo.name | titlecase }}</a>
    </span>
    </nav>
  </section>
</section>


<section class="content-wrapper">
  <router-outlet></router-outlet>
</section>
