<div class="list-cloud-accounts-wrapper">
  <h1>Cloud Accounts</h1>
  <div *ngIf="accounts?.data.length > 0">
    <div class="sg-table">
      <mat-table [dataSource]="accounts" matSort matSortActive="name" matSortDirection="asc">

        <ng-container matColumnDef="name">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let account">{{ account.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="provider">
          <mat-header-cell mat-sort-header *matHeaderCellDef>Provider</mat-header-cell>

            <mat-cell *matCellDef="let account">
              <ng-container *ngIf="account.provider == 'aws'">
                Amazon Web Services (AWS)
              </ng-container>

              <ng-container *ngIf="account.provider == 'digitalocean'">
                Digital Ocean
              </ng-container>

              <ng-container *ngIf="account.provider == 'gce'">
                GCE - Google Compute Engine
              </ng-container>

              <ng-container *ngIf="account.provider == 'openstack'">
                Openstack
              </ng-container>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef class="small-cell"></mat-header-cell>
          <mat-cell *matCellDef="let account" class="small-cell edit" (click)="edit(account.name)"></mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef class="small-cell"></mat-header-cell>
          <mat-cell class="small-cell" *matCellDef="let account">
            <div *ngIf="!activeCloudAccounts.has(account?.name)" class="delete" (click)="delete(account.name, $event)"></div>
            <div *ngIf="activeCloudAccounts.has(account?.name)" class="delete disable"></div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="accountColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: accountColumns"></mat-row>

      </mat-table>

      <p class="info">*Cloud accounts with live clusters attached to them cannot be deleted.</p>

      <div class="actions">
        <a [routerLink]="['new']"><button mat-raised-button color="primary" type="button">ADD</button></a>
      </div>
    </div>
  </div>

  <div *ngIf="accounts?.data.length == 0">
    <div class="no-cloud-accounts">
      <h2>You have no cloud accounts linked to Supergiant</h2>
      <p>Link an AWS or Digital Ocean cloud account and have a Supergiant cluster up in minutes</p>
      <div>
        <button mat-raised-button color="primary" [routerLink]="['/system/cloud-accounts/new']">LINK ACCOUNT</button>
      </div>
    </div>
  </div>
</div>
