.list-cloud-accounts-wrapper {
  margin-top: 10px;

  .sg-table {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.25);
    margin: 48px auto;
    padding: 21px 24px 24px 24px;
    height: min-content;
    width: 612px;

    .mat-table {
      background-color: rgba(0,0,0,0);

      .mat-header-row {
        background-color: rgba(255, 0, 166, 0.25);
        border: none;
        min-height: 45px;

        .mat-header-cell {
          color: #fff;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: 14px;
        }
      }

      .mat-row {
        background-color: rgba(255, 255, 255, 0.1);
        border: none;
        margin: 2px 0px;

        .mat-cell {
          color: #fff;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-size: 12px;
          overflow: unset;
          justify-content: space-between;

          .delete {
            background: url(/assets/img/delete-pink.svg) no-repeat center;
            height: 24px;
            width: 24px;

            &:hover {
              cursor: pointer;
            }
          }

          .disable {
            opacity: 0.5;
            pointer-events: none;

            &:hover {
              cursor: default;
            }
          }
        }

        .edit {
          background: url(/assets/img/edit.svg) no-repeat center;
        }

        .edit:hover, .delete:hover {
          cursor: pointer;
        }
      }

      .small-cell {
        max-width: 60px;
        justify-content: center;
      }
    }

    .info {
      font-style: italic;
      font-size: 12px;
      opacity: 0.8;
      margin: 4px 0px 4px 5px;
    }

    .actions {
      display: flex;
      justify-content: flex-end;
    }
  }

  .no-cloud-accounts {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    margin: 24px auto 0;
    padding: 24px 0px;
    width: 956px;

    h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 32px;
      font-weight: 200;
      margin-bottom: 24px;
    }

    p {
      font-size: 18px;
      font-weight: 200;
      margin-bottom: 24px;
    }
  }
}
