<div *ngIf="hasCloudAccount" class="subcontext">
  <div class="subcontext-actions">
    <button mat-button color="primary" [routerLink]="['/system/cloud-accounts/new']">Create New Cloud Account</button>
    <button mat-button color="warn" [disabled]="selected.length === 0" (click)="delete()">Delete Selected Cloud Account</button>
  </div>

  <ngx-datatable class="material expandable" [rows]="rows" [columnMode]="'force'" [columns]="columns" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="20" [selected]="selected" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" [displayCheck]="displayCheck" (select)='onSelect($event)' (tableContextmenu)="onTableContextMenu($event)">
    <ngx-datatable-column name="checkbox" [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
    </ngx-datatable-column>
    <ngx-datatable-column name="Name" prop="name"></ngx-datatable-column>
    <ngx-datatable-column name="Provider" prop="provider">
    </ngx-datatable-column>
  </ngx-datatable>
</div>

<div *ngIf="!hasCloudAccount" class="subcontext">
  <div class="clusters-index-empty no-cloud-account">
    <p>
      There doesn't seem to be anything here.
    </p>
  
    <p>
      <button mat-raised-button color="primary" [routerLink]="['/system/cloud-accounts/new']">Add Your First Cloud Account</button>
    </p>
  </div>

  <context-menu #basicMenu>
    <ng-template contextMenuItem let-item (execute)="contextDelete($event.item)">
      Delete <i>&quot;{{item?.name}}&quot;</i>
    </ng-template>
  </context-menu>
</div>