<mat-card>
  <mat-card-header>
    <h1>Adding node to "{{ clusterName }}"</h1>
  </mat-card-header>
  <mat-card-content>

    <section class="column machines-list">
      <div class="machine"
           *ngFor="let m of machines; let idx = index">
        <mat-form-field class="type">
          <mat-select placeholder="Machine Type (size)"
                      [(value)]="m.machineType"
                      (selectionChange)="checkAndSetValidMachineConfig()">
            <mat-option *ngFor="let type of (machineSizes$ | async)"
                        [value]="type">{{ type }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="role">
          <mat-select placeholder="Role"
                      [(value)]="m.role"
                      (selectionChange)="checkAndSetValidMachineConfig()">
            <mat-option value="Node">Node</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="quantity">
          <input matInput
                 type="number"
                 min="1"
                 placeholder="Q-ty"
                 [(ngModel)]="m.qty"
                 (ngModelChange)="checkAndSetValidMachineConfig()">
        </mat-form-field>
        <div class="delete-machine"
             [hidden]="machines.length === 1"
             (click)="deleteMachine(idx)">
        </div>

      </div>
    </section>

    <section class="column">
      <section class="architecture">
        <mat-form-field>
          <mat-select placeholder="Arch"
                      [disabled]="clusterOptions.archs.length < 2"
                      [value]="clusterOptions.archs[0]">
            <mat-option *ngFor="let a of clusterOptions.archs"
                        [value]="a">{{ a }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Operating System"
                      [disabled]="clusterOptions.operatingSystems.length < 2"
                      [value]="clusterOptions.operatingSystems[0]">
            <mat-option *ngFor="let os of clusterOptions.operatingSystems"
                        [value]="os">{{ os }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Ubuntu Version"
                      [disabled]="clusterOptions.ubuntuVersions.length < 2"
                      [value]="clusterOptions.ubuntuVersions[0]">
            <mat-option *ngFor="let u of clusterOptions.ubuntuVersions"
                        [value]="u">{{ u }}</mat-option>
          </mat-select>
        </mat-form-field>
      </section>
    </section>
  </mat-card-content>

  <p *ngIf="displayMachineConfigError"
     class="warning">Current machine configuration is invalid. Please check that each
                     machine has a type, role, and valid quantity.</p>

  <mat-card-actions>
    <div class="add-machines"
         (click)="addBlankMachine()">
      <div class="add-machine-btn"></div>
      <span>Add more machines</span>
    </div>

    <div>
      <button mat-raised-button
              color="primary"
              class="submit-btn"
              (click)="finish()"
              [disabled]="!validMachinesConfig">
        <span [hidden]="isProcessing">Finish</span>
        <mat-progress-spinner [diameter]="24"
                              [mode]="'indeterminate'"
                              [color]="'warn'"
                              [hidden]="!isProcessing"></mat-progress-spinner>
      </button>
    </div>
  </mat-card-actions>
</mat-card>

