@import "src/assets/css/variables";

:host {

  .mat-card {
    width: auto;
    margin: 0 auto;
  }

  i {
    color: $sg-pink;
  }
  mat-form-field {
    margin-right: 24px;
  }

  .mat-card-content, .mat-card-actions {
    display: flex;
    justify-content: space-between;
  }

  .warning {
    color: #f44336;
    font-weight: 300;
    margin: 4px 0 0 0;
  }


  .column {
    display: flex;
    align-items: baseline;
    align-content: space-between;
    margin-right: 24px;

    &.machines-list {
      flex-direction: column;

      .machine {
        display: flex;

        .type-wrapper {

          .type {
            width: 341px;
          }
        }

        .spinner-wrapper {
          display: flex;
          position: relative;
          align-items: center;
          margin-left: -20px;
          margin-right: 10px;
        }

        .role {
          width: auto;
        }

        .quantity {
          width: 30px;
        }
      }

      .delete-machine {
        display: inline-block;
        background-image: url(/assets/img/delete-pink.svg);
        cursor: pointer;
        margin: auto;
        height: 22px;
        width: 22px;
      }
    }




    .architecture {
      display: flex;
      flex-wrap: wrap;

      mat-form-field {
        width: 270px;
      }
    }
  }

  .add-machines {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 178px;

    .add-machine-btn {
      background-image: url(/assets/img/plus-pink.svg);
      height: 22px;
      width: 22px;
    }
  }

  .submit-btn {
    min-width: 98px;
    min-height: 37px;
    max-height: 37px;

    .mat-progress-spinner {
      margin: 0px auto;
    }
  }
}

::ng-deep .mat-select-content {

  .machine-types-filter {
    position: relative;
    padding: 10px !important;
  }
}
