@import "src/assets/css/variables";

:host {

  .mat-card {
    width: 1270px;
    margin: 0 auto;
  }

  i {
    color: $sg-pink;
  }
  mat-form-field {
    margin-right: 24px;
  }

  .mat-card-content, .mat-card-actions {
    display: flex;
    justify-content: space-between;
  }

  .warning {
    color: #f44336;
    font-weight: 300;
    margin: 4px 0 0 0;
  }


  .column {
    display: flex;
    align-items: baseline;

    &.machines-list {
      flex-direction: column;
    }

    .delete-machine {
      background-image: url(/assets/img/delete-pink.svg);
      cursor: pointer;
      margin: auto;
      height: 22px;
      width: 22px;
    }

    .machine {
      display: flex;

      .type {
        width: 341px;
      }

      .role {
        width: 123px;
      }

      .quantity {
        width: 30px;
      }
    }

    .architecture {
      display: flex;
      flex-wrap: wrap;
      width: 600px;

      mat-form-field {
        width: 270px;
      }
    }
  }

  .add-machines {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 178px;

    .add-machine-btn {
      background-image: url(/assets/img/plus-pink.svg);
      height: 22px;
      width: 22px;
    }
  }

  .submit-btn {
    min-width: 98px;
    min-height: 37px;
    max-height: 37px;

    .mat-progress-spinner {
      margin: 0px auto;
    }
  }
}
