<div class="cluster-details-wrapper">

  <ng-container *ngIf="kube?.state == 'provisioning' || kube?.state == 'failed' || kube?.state == 'prepare'">
    <h1>Creating “{{ kube.name }}”</h1>
    <div class="task-overview">
      <div class="masters task-group">
        <div class="icon masters-icon">

          <div [ngClass]="{
            'complete': masterTasksStatus == 'complete',
            'executing': masterTasksStatus == 'executing',
            'failed': masterTasksStatus == 'failed' }">
            <div class="spinner-outline"></div>
            <mat-spinner [diameter]="148"></mat-spinner>
            <div class="status"></div>
          </div>

        </div>
        <h1 [ngClass]="{ 'failed': masterTasksStatus == 'failed' }">Masters</h1>
      </div>

      <div class="nodes task-group">
        <div class="icon nodes-icon">

          <div [ngClass]="{
            'complete': nodeTasksStatus == 'complete',
            'executing': nodeTasksStatus == 'executing',
            'queued': nodeTasksStatus == 'queued',
            'failed': nodeTasksStatus == 'failed'}">
            <div class="spinner-outline"></div>
            <mat-spinner [diameter]="148"></mat-spinner>
            <div class="status"></div>
          </div>

        </div>
        <h1 [ngClass]="{
          'queued': nodeTasksStatus == 'queued',
          'failed': nodeTasksStatus == 'failed' }">Nodes</h1>
      </div>

      <div class="ready task-group">
        <div class="icon ready-icon">

          <div [ngClass]="{
            'complete': clusterTasksStatus == 'complete',
            'executing': clusterTasksStatus == 'executing',
            'queued': clusterTasksStatus == 'queued',
            'failed': clusterTasksStatus == 'failed'}">
            <div class="spinner-outline"></div>
            <mat-spinner [diameter]="148"></mat-spinner>
            <div class="status"></div>
          </div>

        </div>
        <h1 [ngClass]="{
          'queued': clusterTasksStatus == 'queued',
          'failed': clusterTasksStatus == 'failed'}">Cluster</h1>
      </div>
    </div>

    <div class="failed-message"
         *ngIf=" kube?.state == 'failed' ">
      <p class="communication">Cluster provisioning has failed. Please check the table below for any issues and restart.</p>
      <button mat-raised-button type="button" (click)="restart(clusterId)" class="secondary">
        <ng-container *ngIf="!clusterRestarting">RESTART</ng-container>
        <ng-container *ngIf="clusterRestarting">
          <mat-spinner class="restarting-spinner" [diameter]="24"></mat-spinner>
        </ng-container>
      </button>
    </div>

    <div class="sg-table">
      <h3>TASKS</h3>

      <mat-table [dataSource]="tasks" [trackBy]="trackByFn">
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
          <mat-cell class="task-status"
                    *matCellDef="let task">
            <mat-spinner class="executing-spinner"
                         *ngIf="task?.status == 'executing'"
                         [diameter]="24"></mat-spinner>
            <div class="ready-icon"
                 *ngIf="task?.status == 'success'"></div>
            <div class="failed-icon"
                 *ngIf="task?.status == 'error'"></div>
            <span style="padding-left: 12px;">{{ task.status | titlecase }}</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let task">{{ task.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
          <mat-cell *matCellDef="let task">{{ task.type }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell *matCellDef="let task">{{ task.id }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="steps">
          <mat-header-cell class="small-cell"
                           *matHeaderCellDef>Progress
          </mat-header-cell>
          <mat-cell
            class="small-cell"
            *matCellDef="let task"
            (click)="toggleSteps(task)"
            [ngClass]="{ 'show-steps': expandedTaskIds.has(task.id), 'disabled': task.status == 'todo' }">
            <div class="steps-toggle"></div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="logs">
          <mat-header-cell class="small-cell"
                           *matHeaderCellDef>Logs
          </mat-header-cell>
          <mat-cell
            class="small-cell"
            *matCellDef="let task"
            (click)="viewTaskLog(task.id)"
            [ngClass]="{ 'disabled': task.status == 'todo' }">
            <div class="open-logs"></div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <mat-cell class="expanded-tasks"
                    *matCellDef="let detail">
            <p *ngFor="let step of detail.t.stepsStatuses; trackBy: trackByFn">
              {{ step.stepName }}
              <span *ngIf=" step.status == 'executing' "
                    class="current-step"><span>.</span><span>.</span><span>.</span></span>
              <span *ngIf=" step.status != 'executing' "> ...</span>
              <span [ngClass]="{
                'success': step.status == 'success',
                'error': step.status == 'error',
                'executing': step.status == 'executing' }">
              {{ step.status }}
              </span>
              <span class="step-error-message"
                    *ngIf=" step.status == 'error' ">{{ step.errorMessage }}</span>
            </p>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="taskListColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: taskListColumns"
                 [ngClass]="{ 'viewingSteps': row.showSteps }"></mat-row>
        <mat-row class="detail-row"
                 *matRowDef="let row; columns: ['expandedDetail']; when: expandRow"
                 [@detailExpand]="expandedTaskIds.has(row.t.id) ? 'expanded' : 'collapsed'"></mat-row>

      </mat-table>
    </div>
  </ng-container>

  <ng-container *ngIf="kube?.state == 'operational'">
    <ng-container *ngIf="!showUsageChart">
      <div class="no-usage-data">
        <h1>Gathering usage metrics for {{ kube?.name }}<span>.</span><span>.</span><span>.</span></h1>
        <h2>This may take a few minutes</h2>
      </div>
    </ng-container>

    <app-usage-chart *ngIf="showUsageChart"
                     [name]="kube?.name"
                     [cpuUsage]="cpuUsage"
                     [ramUsage]="ramUsage"></app-usage-chart>

    <h1 class="cluster-info-headline">Cluster Details</h1>
    <div class="cluster-info">
      <div class="cluster-details">
        <div class="labels">
          <span>K8S VERSION:</span>
          <span>ACCOUNT:</span>
          <span>ARCH:</span>
          <span>OS:</span>
        </div>
        <div class="values">
          <span>{{ kube.K8SVersion }}</span>
          <!-- TODO: do this in component or service -->
          <span>{{ (kube.accountName.length>8)? (kube.accountName | slice:0:8)+'...':(kube.accountName) }}</span>
          <span>{{ kube.arch }}</span>
          <span>{{ kube.operatingSystem }}</span>
        </div>
        <div class="labels">
          <span>OS VERSION:</span>
          <span>DOCKER VERSION:</span>
          <span>HELM VERSION:</span>
          <span>RBAC ENABLED:</span>
        </div>
        <div class="values">
          <span>{{ kube.operatingSystemVersion }}</span>
          <span>{{ kube.dockerVersion }}</span>
          <span>{{ kube.helmVersion }}</span>
          <span>{{ kube.rbacEnabled }}</span>
        </div>
      </div>

      <div class="getting-started">
        <p (click)="showSshCommands()"><span>ssh</span> TO THIS CLUSTER</p>
        <p (click)="showKubectlConfig()"><span>kubectl config</span> FOR THIS CLUSTER</p>
        <p routerLink="/catalog"><span>deploy an app</span> TO THIS CLUSTER</p>
      </div>
    </div>

    <div class="sg-table cluster-services">
      <h3>CLUSTER SERVICES</h3>
      <mat-table *ngIf="clusterServices?.data.length; else notAvailable"
                 [dataSource]="clusterServices"
                 matSort>
        <ng-container matColumnDef="name">
          <mat-header-cell mat-sort-header
                           *matHeaderCellDef>Name
          </mat-header-cell>
          <mat-cell *matCellDef="let service">{{ service.name }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="type">
          <mat-header-cell mat-sort-header
                           *matHeaderCellDef>Type
          </mat-header-cell>
          <mat-cell *matCellDef="let service">{{ service.type }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="namespace">
          <mat-header-cell mat-sort-header
                           *matHeaderCellDef>Namespace
          </mat-header-cell>
          <mat-cell *matCellDef="let service">{{ service.namespace }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="selfLink">
          <mat-header-cell mat-sort-header
                           *matHeaderCellDef>Link
          </mat-header-cell>
          <mat-cell *matCellDef="let service">
            <div (click)="openService(service.proxyPort)"
                 class="open-service"></div>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="serviceListColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: serviceListColumns"></mat-row>
      </mat-table>
    </div>

    <div class="sg-table">
      <h3>ACTIVE MACHINES</h3>

      <mat-table [dataSource]="activeMachines"
                 matSort
                 matSortActive="role"
                 matSortDirection="asc">

        <ng-container matColumnDef="state">
          <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
          <mat-cell *matCellDef="let machine">
            {{ machine.state | titlecase }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="role">
          <mat-header-cell mat-sort-header
                           *matHeaderCellDef>Role
          </mat-header-cell>
          <mat-cell *matCellDef="let machine">{{ machine.role | titlecase }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="size">
          <mat-header-cell mat-sort-header
                           *matHeaderCellDef>Size
          </mat-header-cell>
          <mat-cell *matCellDef="let machine">{{ machine.size }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell mat-sort-header
                           *matHeaderCellDef>Name
          </mat-header-cell>
          <mat-cell *matCellDef="let machine">{{ machine.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="cpu">
          <mat-header-cell class="center-cell"
                           *matHeaderCellDef>CPU
          </mat-header-cell>
          <mat-cell class="center-cell"
                    *matCellDef="let machine">
            <!-- TODO: need to find a way to manipulate way before here -->
            <ng-container *ngIf="machine.metrics?.cpu">
              {{ machine.metrics?.cpu }}%
            </ng-container>
            <ng-container *ngIf="!machine.metrics?.cpu">
              --
            </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ram">
          <mat-header-cell class="center-cell"
                           *matHeaderCellDef>RAM
          </mat-header-cell>
          <mat-cell class="center-cell"
                    *matCellDef="let machine">
            <ng-container *ngIf="machine.metrics?.memory">
              {{ machine.metrics?.memory }}%
            </ng-container>
            <ng-container *ngIf="!machine.metrics?.memory">
              --
            </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="region">
          <mat-header-cell class="center-cell"
                           mat-sort-header
                           *matHeaderCellDef>Region
          </mat-header-cell>
          <mat-cell class="center-cell"
                    *matCellDef="let machine">{{ machine.region }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="publicIp">
          <mat-header-cell mat-sort-header
                           *matHeaderCellDef>Public IP
          </mat-header-cell>
          <mat-cell *matCellDef="let machine">
            {{ machine.publicIp }}

          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
          <mat-header-cell class="small-cell"
                           mat-sort-header
                           *matHeaderCellDef>
          </mat-header-cell>
          <mat-cell class="small-cell"
                    *matCellDef="let machine">
            <div *ngIf="machine?.role != 'master'"
                 class="delete-icon"
                 (click)="removeNode(machine.name, $event)"></div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="activeMachineListColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: activeMachineListColumns"></mat-row>

      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                     [pageSize]="10"
                     color="primary"></mat-paginator>

      <a class="new-link"
         routerLink="add-node">
        <div class="add"></div>
        <span class="action">Add node</span>
      </a>
    </div>

    <div *ngIf="nonActiveMachines?.data?.length > 0"
         class="sg-table">
      <h3>PROVISIONING MACHINES</h3>

      <mat-table [dataSource]="nonActiveMachines">

        <ng-container matColumnDef="state">
          <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
          <mat-cell *matCellDef="let machine">
            {{ machine.state | titlecase }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="role">
          <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
          <mat-cell *matCellDef="let machine">{{ machine.role | titlecase }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="size">
          <mat-header-cell
            *matHeaderCellDef>Size
          </mat-header-cell>
          <mat-cell *matCellDef="let machine">{{ machine.size }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell
            *matHeaderCellDef>Name
          </mat-header-cell>
          <mat-cell *matCellDef="let machine">{{ machine.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="region">
          <mat-header-cell class="center-cell"
                           *matHeaderCellDef>Region
          </mat-header-cell>
          <mat-cell class="center-cell"
                    *matCellDef="let machine">{{ machine.region }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="steps">
          <mat-header-cell class="small-cell"
                           *matHeaderCellDef>Progress
          </mat-header-cell>
          <mat-cell
            class="small-cell"
            *matCellDef="let machine"
            (click)="toggleSteps(machine.taskData)"
            [ngClass]="{ 'show-steps': expandedTaskIds.has(machine.taskId) }">
            <div class="steps-toggle"></div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="logs">
          <mat-header-cell class="small-cell"
                           *matHeaderCellDef>Logs
          </mat-header-cell>
          <mat-cell
            class="small-cell"
            *matCellDef="let machine"
            (click)="viewTaskLog(machine.taskId)">
            <div class="open-logs open-machine-logs"></div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
          <mat-header-cell class="small-cell"
                           *matHeaderCellDef>
          </mat-header-cell>
          <mat-cell class="small-cell"
                    *matCellDef="let machine">
            <div *ngIf="machine?.role != 'master'"
                 class="delete-icon"
                 (click)="removeNode(machine.name, $event)"></div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <mat-cell class="expanded-tasks"
                    *matCellDef="let detail">
            <p *ngFor="let step of detail.t.stepsStatuses; trackBy: trackByFn">
              {{ step.stepName }}
              <span *ngIf=" step.status == 'executing' "
                    class="current-step"><span>.</span><span>.</span><span>.</span></span>
              <span *ngIf=" step.status != 'executing' "> ...</span>
              <span [ngClass]="{
                'success': step.status == 'success',
                'error': step.status == 'error',
                'executing': step.status == 'executing' }">
              {{ step.status }}
              </span>
              <span class="step-error-message"
                    *ngIf=" step.status == 'error' ">{{ step.errorMessage }}</span>
            </p>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="nonActiveMachineListColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: nonActiveMachineListColumns"></mat-row>
        <mat-row class="detail-row"
                 *matRowDef="let row; columns: ['expandedDetail']; when: expandRow"
                 [@detailExpand]="expandedTaskIds.has(row.t.id) ? 'expanded' : 'collapsed'"></mat-row>
      </mat-table>

      <!-- <a class="new-link" routerLink="add-node">
        <div class="add"></div>
        <span class="action">Add node</span>
      </a> -->
    </div>

    <ng-container>
      <div class="sg-table">
        <h3>APPS</h3>

        <mat-table *ngIf="releases?.data.length; else notAvailable"
                   [dataSource]="releases"
                   matSort>
          <ng-container matColumnDef="status">
            <mat-header-cell mat-sort-header
                             *matHeaderCellDef>Status
            </mat-header-cell>
            <mat-cell *matCellDef="let release">
              <ng-container *ngIf="!deletingApps.has(release.name)">{{ release.status }}</ng-container>
              <ng-container *ngIf="deletingApps.has(release.name)">DELETING</ng-container>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell mat-sort-header
                             *matHeaderCellDef>Name
            </mat-header-cell>
            <mat-cell *matCellDef="let release">{{ release.name }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="chart">
            <mat-header-cell mat-sort-header
                             *matHeaderCellDef>Chart
            </mat-header-cell>
            <mat-cell *matCellDef="let release">{{ release.chart }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="chartVersion">
            <mat-header-cell mat-sort-header
                             *matHeaderCellDef>Chart Version
            </mat-header-cell>
            <mat-cell *matCellDef="let release">{{ release.chartVersion }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="version">
            <mat-header-cell mat-sort-header
                             *matHeaderCellDef>Version
            </mat-header-cell>
            <mat-cell *matCellDef="let release">{{ release.version }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="lastDeployed">
            <mat-header-cell mat-sort-header
                             *matHeaderCellDef>Last Deployed
            </mat-header-cell>
            <mat-cell *matCellDef="let release">
              {{ release.lastDeployed }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="info">
            <mat-header-cell class="small-cell"
                             *matHeaderCellDef>
            </mat-header-cell>
            <mat-cell class="small-cell"
                      *matCellDef="let release">
              <div class="info-icon"
                   (click)="showReleaseInfo(release.name)"></div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell class="small-cell"
                             *matHeaderCellDef>
            </mat-header-cell>
            <mat-cell class="small-cell"
                      *matCellDef="let release; let idx = index">
              <div class="delete-icon"
                   (click)="deleteRelease(release.name, idx)"></div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="releaseListColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: releaseListColumns"
                   [ngClass]="{ 'deleting-app': deletingApps.has(row.name) }"></mat-row>
        </mat-table>

        <a class="new-link"
           routerLink="/catalog">
          <div class="add"></div>
          <span class="action">Add app</span>
        </a>
      </div>
    </ng-container>
  </ng-container>

  <div class="action-buttons">
    <div class="delete-cluster"
         (click)="deleteCluster()">
      <div class="delete-icon"></div>
      <span>
        <ng-container *ngIf="kube?.state == 'operational' || kube?.state == 'failed'">Delete Cluster</ng-container>
        <ng-container *ngIf="kube?.state == 'provisioning' || kube?.state == 'prepare'">Cancel</ng-container>
      </span>
    </div>
  </div>
</div>

<ng-template #notAvailable>
  <span>Fetching apps...</span>
</ng-template>
