.cluster-details-wrapper {

  margin-top: 15px;

  .task-overview {
    display: flex;
    justify-content: space-between;
    margin: 48px auto 0px;
    height: 204px;
    width: 934px;

    .task-group {
      display: flex;
      flex-direction: column;
      height: 204px;

      h1 {
        font-size: 32px;
        margin: 0 auto;
      }

      .icon {
        margin: 0 auto;
        height: 148px;
        width: 148px;
      }

      .masters-icon {

        .executing {
          height: 100%;
          width: 100%;
          position: relative;

          .spinner-outline {
            background: url(/assets/img/cluster-details/steps/unfilled_empty.svg) no-repeat center;
            position: relative;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
          }

          .mat-spinner {
            position: absolute;
            top: 0;
            left: 0;

            circle {
              stroke: rgba(255, 0, 166, 0.5);
            }
          }

          .status {
            background: url(/assets/img/cluster-details/steps/number_1.svg) no-repeat center;
            position: absolute;
            top: -112px;
            left: -110px;
            height: 250%;
            width: 250%;
          }
        }

        .complete {
          height: 100%;
          width: 100%;
          position: relative;

          .spinner-outline {
            background: url(/assets/img/cluster-details/steps/filled_pink.svg) no-repeat center;
            position: relative;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
          }

          .mat-spinner {
            display: none;
          }

          .status {
            background: url(/assets/img/cluster-details/steps/checked_pink.svg) no-repeat center;
            position: absolute;
            top: -112px;
            left: -110px;
            height: 250%;
            width: 250%;
          }
        }

        .failed {
          height: 100%;
          width: 100%;
          position: relative;

          .spinner-outline {
            background: url(/assets/img/cluster-details/steps/unfilled_empty.svg) no-repeat center;
            position: relative;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
          }

          .mat-spinner {
            display: none;
          }

          .status {
            background: url(/assets/img/cluster-details/steps/number_1_trans.svg) no-repeat center;
            position: absolute;
            top: -112px;
            left: -110px;
            height: 250%;
            width: 250%;
          }
        }
      }

      .nodes-icon {

        .queued {
          height: 100%;
          width: 100%;
          position: relative;

          .spinner-outline {
            background: url(/assets/img/cluster-details/steps/unfilled_empty.svg) no-repeat center;
            position: relative;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
          }

          .mat-spinner {
            display: none;
          }

          .status {
            background: url(/assets/img/cluster-details/steps/number_2_trans.svg) no-repeat center;
            position: absolute;
            top: -112px;
            left: -110px;
            height: 250%;
            width: 250%;
          }
        }

        .executing {
          height: 100%;
          width: 100%;
          position: relative;

          .spinner-outline {
            background: url(/assets/img/cluster-details/steps/unfilled_empty.svg) no-repeat center;
            position: relative;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
          }

          .mat-spinner {
            position: absolute;
            top: 0;
            left: 0;

            circle {
              stroke: rgba(64, 196, 255, 0.5);
            }
          }

          .status {
            background: url(/assets/img/cluster-details/steps/number_2.svg) no-repeat center;
            position: absolute;
            top: -112px;
            left: -110px;
            height: 250%;
            width: 250%;
          }
        }

        .complete {
          height: 100%;
          width: 100%;
          position: relative;

          .spinner-outline {
            background: url(/assets/img/cluster-details/steps/filled_blue.svg) no-repeat center;
            position: relative;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
          }

          .mat-spinner {
            display: none;
          }

          .status {
            background: url(/assets/img/cluster-details/steps/checked_blue.svg) no-repeat center;
            position: absolute;
            top: -112px;
            left: -110px;
            height: 250%;
            width: 250%;
          }
        }

        .failed {
          height: 100%;
          width: 100%;
          position: relative;

          .spinner-outline {
            background: url(/assets/img/cluster-details/steps/unfilled_empty.svg) no-repeat center;
            position: relative;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
          }

          .mat-spinner {
            display: none;
          }

          .status {
            background: url(/assets/img/cluster-details/steps/number_2_trans.svg) no-repeat center;
            position: absolute;
            top: -112px;
            left: -110px;
            height: 250%;
            width: 250%;
          }
        }
      }

      .ready-icon {

        .queued {
          height: 100%;
          width: 100%;
          position: relative;

          .spinner-outline {
            background: url(/assets/img/cluster-details/steps/unfilled_empty.svg) no-repeat center;
            position: relative;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
          }

          .mat-spinner {
            display: none;
          }

          .status {
            background: url(/assets/img/cluster-details/steps/number_3_trans.svg) no-repeat center;
            position: absolute;
            top: -112px;
            left: -110px;
            height: 250%;
            width: 250%;
          }
        }

        .executing {
          height: 100%;
          width: 100%;
          position: relative;

          .spinner-outline {
            background: url(/assets/img/cluster-details/steps/unfilled_empty.svg) no-repeat center;
            position: relative;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
          }

          .mat-spinner {
            position: absolute;
            top: 0;
            left: 0;

            circle {
              stroke: rgba(0, 217, 59, 0.5);
            }
          }

          .status {
            background: url(/assets/img/cluster-details/steps/number_3.svg) no-repeat center;
            position: absolute;
            top: -112px;
            left: -110px;
            height: 250%;
            width: 250%;
          }
        }

        .complete {
          height: 100%;
          width: 100%;
          position: relative;

          .spinner-outline {
            background: url(/assets/img/cluster-details/steps/filled_green.svg) no-repeat center;
            position: relative;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
          }

          .mat-spinner {
            display: none;
          }

          .status {
            background: url(/assets/img/cluster-details/steps/checked_green.svg) no-repeat center;
            position: absolute;
            top: -112px;
            left: -110px;
            height: 250%;
            width: 250%;
          }
        }

        .failed {
          height: 100%;
          width: 100%;
          position: relative;

          .spinner-outline {
            background: url(/assets/img/cluster-details/steps/unfilled_empty.svg) no-repeat center;
            position: relative;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
          }

          .mat-spinner {
            display: none;
          }

          .status {
            background: url(/assets/img/cluster-details/steps/number_3_trans.svg) no-repeat center;
            position: absolute;
            top: -112px;
            left: -110px;
            height: 250%;
            width: 250%;
          }
        }
      }
    }

    .masters h1 {

      &.queued, &.failed {
        opacity: 0.25;
      }
    }

    .nodes h1 {
      color: #009BE0;

      &.queued, &.failed {
        opacity: 0.25;
      }
    }

    .ready h1 {
      color: #009829;

      &.queued, &.failed {
        opacity: 0.25;
      }
    }
  }

  .failed-message {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.25);
    margin: 48px auto;
    padding: 21px 24px 24px 24px;

    .communication {
      color: red;
      font-size: 24px;
      text-align: center;
    }
  }

  .no-usage-data {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      @keyframes blink {

        0% {
          opacity: .2;
        }

        20% {
          opacity: 1;
        }

        100% {
          opacity: .2;
        }
      }

      span {
        animation-name: blink;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
      }

      span:nth-child(2) {
        animation-delay: .2s;
      }

      span:nth-child(3) {
        animation-delay: .4s;
      }
    }

    h2 {
      font-weight: 300;
      letter-spacing: 1px;
    }
  }

  .cluster-info-headline {
    font-size: 36px;
    margin: 48px auto 0px;
    width: max-content;
  }

  .cluster-info {
    display: flex;
    justify-content: space-between;
    margin: 48px auto 0px;
    width: 1270px;

    .cluster-details {
      background-color: rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(255, 255, 255, 0.25);
      display: flex;
      justify-content: space-around;
      padding: 21px 24px 24px 24px;
      width: 615px;

      .labels {
        align-content: center;
        align-items: flex-end;
        display: flex;
        flex-direction: column;

        span {
          color: #D10088;
          height: 16px;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 2px;
          margin-bottom: 16px;

          &:last-child {
            margin-bottom: 0px;
          }
        }
      }

      .values {
        align-content: center;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        width: 100px;

        span {
          height: 16px;
          margin-bottom: 16px;

          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }

    .getting-started {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 615px;

      p {
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.25);
        color: #D10088;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 2px;
        padding: 10px 24px 10px 24px;

        span {
          color: #fff;
          font-style: italic;
        }

        &:last-child {
          margin: 0;
        }

        &:active {
          transform: scale(0.98, 0.98);
        }
      }
    }
  }

  .sg-table {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.25);
    margin: 48px auto;
    padding: 21px 24px 24px 24px;
    height: min-content;
    width: 1270px;

    .mat-table {
      background-color: rgba(0,0,0,0);

      .mat-header-row {
        background-color: rgba(255, 0, 166, 0.25);
        border: none;
        min-height: 45px;

        .mat-header-cell {
          color: #fff;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-size: 14px;
        }
      }

      .mat-row {
        background-color: rgba(255, 255, 255, 0.1);
        border: none;
        margin: 2px 0px;

        .mat-cell {
          color: #fff;
          font-family: "Roboto", sans-serif;
          font-size: 12px;
          overflow: unset;
          justify-content: space-between;

          .open-service {
            background-image: url(/assets/img/launch-pink.svg);
            height: 22px;
            width: 22px;

            &:hover {
              cursor: pointer;
            }

            &:active {
              transform: scale(0.95, 0.95);
            }
          }
        }

        .expanded-tasks {
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          font-family: courier;
          background-color: rgba(255,255,255,0.1);
          padding: 10px 0px 0px 0px;
          margin: 0px 20px;

          p {
            margin-left: 20px;

            @keyframes blink {

              0% {
                opacity: .2;
              }

              20% {
                opacity: 1;
              }

              100% {
                opacity: .2;
              }
            }

            .current-step span {
              animation-name: blink;
              animation-duration: 1.4s;
              animation-iteration-count: infinite;
              animation-fill-mode: both;
            }

            .current-step span:nth-child(2) {
              animation-delay: .2s;
            }

            .current-step span:nth-child(3) {
              animation-delay: .4s;
            }

            .success {
              color: #00D93B;
            }

            .executing {
              color: yellow;
            }

            .error {
              color: red;
            }

            .step-error-message {
              color: red;
              display: block;
              font-style: italic;
            }
          }
        }

        .task-status {
          justify-content: flex-start;

          .executing-spinner {
            margin-left: 13px;
          }

          .ready-icon {
            background: url(/assets/img/cluster-details/steps/icon_ready.svg) no-repeat center;
            // why?
            background-size: 685%;
            height: 48px;
            width: 48px;
          }

          .failed-icon {
            background: url(/assets/img/cluster-details/steps/icon_failed.svg) no-repeat center;
            height: 30px;
            width: 48px;
          }

          .restart-task {
            font-size: 12px;
            line-height: 24px;
            margin-left: 24px;
            padding: 0px 16px;

            .restart-spinner {
              margin: 3px auto;

              circle {
                stroke: #fff;
              }
            }
          }
        }

        .steps-toggle {
          background: url(/assets/img/cluster-details/steps/icon_steps.svg) no-repeat center;
          cursor: pointer;
          height: 50px;
          width: 50%;
          margin: 0 auto
        }

        .open-logs {
          background: url(/assets/img/cluster-details/steps/icon_terminal.svg) no-repeat center;
          cursor: pointer;
          height: 50px;
          width: 75%;
          margin: 0 auto
        }

        .show-steps {
          background-color: rgba(255,255,255,0.1);
        }
      }

      .viewingSteps {
        margin-bottom: 0px;
      }

      .detail-row {
        margin: 0px;
      }

      .small-cell {
        max-width: 60px;
        margin-right: 20px;
        justify-content: center !important;
      }

      .metrics-cell {
        justify-content: center !important;
      }

      .machine-name-cell {
        min-width: max-content;
      }
    }

    .mat-paginator {
      background-color: rgba(255, 255, 255, 0.1);
    }

    .new-link {
      align-items: center;
      display: flex;
      margin-left: auto;
      margin-top: 15px;
      width: max-content;

      &:visited {
        color: #fff;
      }

      &:hover {
        color: #fff;
        text-decoration: none;
      }

      &:active {
        transform: scale(0.95, 0.95);
      }

      .add {
        display: inline-block;
        background-image: url(/assets/img/plus-pink.svg);
        margin-right: 7px;
        height: 24px;
        width: 24px;
      }

      .action {
        font-size: 14px;
      }
    }
  }

  .delete-icon {
    background-image: url(/assets/img/delete-pink.svg);
    height: 24px;
    width: 20px;

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: scale(0.95, 0.95);
    }
  }

  .info-icon {
    background-image: url(/assets/img/info-pink.svg);
    height: 24px;
    width: 24px;

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: scale(0.95, 0.95);
    }
  }

  .cluster-services {
    width: 1270px;
  }

  button {
    outline: none;

    &[mat-button] {

      &[color='primary'] {
        color: #fff;
        border: none;
        background-color: #D10088 !important;
      }
    }
  }

  .action-buttons {
    margin: 0px auto;
    width: 1270px;

    .delete-cluster {
      display: flex;
      align-items: center;
      cursor: pointer;
      width: max-content;

      &:active {
        transform: scale(0.95, 0.95);
      }

      .delete-icon {
        background-image: url(/assets/img/delete-pink.svg);
        display: inline-block;
        margin-right: 5px;
        height: 24px;
        width: 24px;
      }
    }
  }
}
