<app-usage-chart [name]="kube?.name"></app-usage-chart>

<div class="machines-list">
  <h3>MACHINES</h3>

  <mat-table [dataSource]="machines"
             matSort
             matSortActive="role"
             matSortDirection="asc">

    <ng-container matColumnDef="name">
      <mat-header-cell mat-sort-header
                       *matHeaderCellDef>Name
      </mat-header-cell>
      <mat-cell *matCellDef="let machine">{{ machine.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell mat-sort-header
                       *matHeaderCellDef>Role
      </mat-header-cell>
      <mat-cell *matCellDef="let machine">{{ machine.role | titlecase }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell mat-sort-header
                       *matHeaderCellDef>ID
      </mat-header-cell>
      <mat-cell *matCellDef="let machine">{{ machine.id }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="region">
      <mat-header-cell mat-sort-header
                       *matHeaderCellDef>Region
      </mat-header-cell>
      <mat-cell *matCellDef="let machine">{{ machine.region }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="public_ip">
      <mat-header-cell mat-sort-header
                       *matHeaderCellDef>Public IP
      </mat-header-cell>
      <mat-cell *matCellDef="let machine">
        {{ machine.public_ip }}
        <div></div>
        <button (click)="removeNode(machine.name, $event)"
                mat-button>
          <i class="fa fa-trash"
             aria-hidden="true"></i>
        </button>

      </mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="machineListColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: machineListColumns"></mat-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                 color="primary"></mat-paginator>
</div>
