<div class="cluster-details-wrapper">
  <div class="usage-chart">
    <div class="cpu">
      <svg class="cpu-label" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 239.777 109.285"><defs><style>.a{fill:#ff00a6;font-size:62px;font-family:Montserrat-Light, Montserrat;font-weight:300;letter-spacing:-0.05em;}.b{fill:none;stroke:#ff00a6;stroke-width:0.5px;}</style></defs><g transform="translate(-108.436 -80.719)"><text class="a" transform="translate(210.413 140.72)"><tspan x="-65.751" y="0">CPU</tspan></text><path class="b" d="M262.276,228.627H467.26l34.615,34.61" transform="translate(-153.841 -73.409)"/></g></svg>
      <span class="cpu-metric metric">12% usage</span>
    </div>

    <div class="orb-chart">
      <div class="left-chart"></div>
      <div class="orb">
        <span class="cluster-name">{{ kube?.name }}</span>
      </div>
      <div class="right-chart"></div>
    </div>

    <div class="ram">
      <svg class="ram-label" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 239.771 76"><defs><style>.c{fill:#40c4ff;font-size:62px;font-family:Montserrat-Light, Montserrat;font-weight:300;}.d{fill:none;stroke:#40c4ff;stroke-width:0.5px;}</style></defs><g transform="translate(-817.346 -244.719)"><text class="c" transform="translate(957.413 304.72)"><tspan x="-73.811" y="0">RAM</tspan></text><path class="d" d="M501.872,263.242H296.89l-34.615-34.615" transform="translate(555.247 55.722)"/></g></svg>
      <span class="ram-metric metric">12% usage</span>
    </div>
  </div>

  <div class="machines-list">
    <h3>MACHINES</h3>

    <mat-table [dataSource]="machines" matSort matSortActive="role" matSortDirection="asc">
      <ng-container matColumnDef="role">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Role</mat-header-cell>
        <mat-cell *matCellDef="let machine">{{ machine.role | titlecase }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="id">
        <mat-header-cell mat-sort-header *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let machine">{{ machine.id }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="region">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Region</mat-header-cell>
        <mat-cell *matCellDef="let machine">{{ machine.region }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="public_ip">
        <mat-header-cell mat-sort-header *matHeaderCellDef >Public IP</mat-header-cell>
        <mat-cell *matCellDef="let machine">{{ machine.public_ip }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef>Active?</mat-header-cell>
        <mat-cell *matCellDef="let machine">{{ machine.active }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="machineListColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: machineListColumns"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" color="primary"></mat-paginator>
  </div>
</div>
