<div class="app-clusters-container">
  <section class="app-clusters-index">
    <div class="app-context-header-panel">
      <h2>Users</h2>

      <div class="context-secondary-panel">
        <div *ngIf="!selected.length > 0" class="form-group row">
          <div class="col-2">
            <input [(ngModel)]="username" type="text" class="form-control" aria-describedby="Repo URL" placeholder="Username">
          </div>
          <div class="col-2">
            <input [(ngModel)]="password" type="password" class="form-control" aria-describedby="Repo URL" placeholder="Password">
          </div>
          <div class="col-2">
            <select [(ngModel)]="role" class="form-control">
              <option>user</option>
              <option>admin</option>
            </select>
          </div>
          <div class="col-2">
            <button type="submit" class="btn btn-primary" (click)="save()">Add</button>
          </div>
        </div>

        <button *ngIf="selected.length > 0" type="button" class="btn btn-primary" (click)="delete()">Delete Selected User</button>
      </div>
    </div>

    <div>
      <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [columns]="columns" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="5" [selected]="selected" [selectionType]="'multiClick'" (select)='onSelect($event)'></ngx-datatable>
    </div>
  </section>
</div>
