<div class="subcontext">

  <div class="subcontext-actions">
    <div class="form-group row">
      <mat-form-field class="col-3">
        <input matInput [(ngModel)]="username" type="text" placeholder="Username">
      </mat-form-field>
      <mat-form-field class="col-3">
        <input matInput [(ngModel)]="password" placeholder="Password" [type]="hide ? 'text' : 'password'">
        <mat-icon matSuffix svgIcon="thumb-up" (click)="hide = !hide">{{hide ? '&#8856;' : '&#9728;'}}</mat-icon>
      </mat-form-field>
      <mat-form-field class="col-1">
        <mat-select matInput [(ngModel)]="role" placeholder="Role">
          <mat-option>user</mat-option>
          <mat-option>admin</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="col-5">
        <button mat-button color="primary" type="submit" (click)="save()">Add New User</button>
        <button mat-button color="warn" [disabled]="selected.length === 0" (click)="delete()">Delete Selected User</button>
      </div>
    </div>
  </div>

  <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [columns]="columns" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="5" [selected]="selected" [selectionType]="'multiClick'" (select)='onSelect($event)'></ngx-datatable>
</div>
