<div id="control-bar">
  <div class="btn-group"></div>
  <button class="btn btn-sm btn-info" (click)="goBack()">
    <i class="fa fa-chevron-left"></i>
    Back
  </button>
</div>

<ngb-tabset type="pills" justify="center">
  <ngb-tab title="Info">
    <ng-template ngbTabContent>
      <div *ngIf="cloudAccount" class="graph-container">
        <b>Cloud Provider:</b> {{ cloudAccount.provider }}<br />

        <b>Name:</b> {{ cloudAccount.name }}<br />
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Raw Data">
    <ng-template ngbTabContent>
      <textarea class="form-control" disabled>
{{cloudAccount | json}}
      </textarea>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
