$brand-color: rgb(102,0,102);
$primary-color: rgb(220,0,130);
$secondary-color: rgb(110,0,190);

div.app-nav-container {
background-color: $brand-color;
}

.dropdown-item:active {
    background-color: #660066;
}

li.nav-item {
    width: 20rem;
}