:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding: 32px 49px;

  position: fixed;
  top: 0;
  left: 0;

  background-image: linear-gradient(black, black, transparent);

  z-index: 1000;

  .logo {
    width: 180px;
  }
}
