.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0;
  width: 100%;

  padding: 0 49px;

  position: fixed;
  top: 0;
  left: 0;

  .logo {
    width: 180px;
  }
}
