:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding-left: 48px;
  padding-right: 48px;
  padding-top: 32px;
  padding-bottom: 0;

  position: fixed;
  top: 0;
  left: 0;

  background: linear-gradient(black, black, transparent);
  z-index: 1000;

  & > * {
    width: 33%;
  }

  .logo {

    a {
      display: block;
      width: 180px;
    }
  }
}
