.command {
  background: #272822;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  font-family: courier;
  padding: 2px 4px;
  margin-left: 10px;
}

.key {
  word-wrap: break-word;
}