@mixin action-button {
  margin-bottom: 10px;
  color: white;
}

.repo-actions-title {
  width: 250px;
  overflow-wrap: break-word;
  font-size: 26px;
  font-weight: 300;
  line-height: 32px;
}

.mat-card-title {
  width: 250px;
  overflow-wrap: break-word;
  h2{
    font-family: 'Montserrat', sans-serif;
  }
}

.mat-card-actions {
  display: flex;
}

.repo-actions {
  justify-content: space-between;
  flex-direction: column;
  margin-top: auto !important;

  .add-remove-icon-and-text {
    margin-top: 15px;
    cursor: pointer;
    width: max-content;

    .plus {
      background: url(/assets/img/plus-pink.svg) no-repeat;
      background-size: 100% 100%;
      background-position: center;
      margin-top: 0px;
      margin-right: 10px;
      height: 24px;
      width: 24px;
      display: inline-block;
    }

    .minus {
      background: url(/assets/img/minus-pink.svg) no-repeat;
      background-size: 100% 100%;
      background-position: center;
      margin-top: 0px;
      margin-right: 10px;
      height: 24px;
      width: 24px;
      display: inline-block;
    }

    .add-remove-text{
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
      font-weight: 300;
    }
  }
}

.app-actions {
  align-items: center;
  justify-content: flex-end;

  .app-logo-wrapper {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 64px;
    width: 64px;
  }
}

.charts-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -30px;

  .card {
    display: flex;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 295px;
  }

  .repo-card {
    min-height: 263px;
  }

  .app-card {

    &:hover {
      cursor: pointer;
      background-color: rgba(0,0,0,0.4) !important;
    }

    &:active {
      transform: scale(0.95,0.95);
    }
  }
}

button {
  cursor: pointer;
  font-size: 14px;
  color: #D10088;
  border: 2px solid #D10088;
  background: transparent;
  padding: 8px 32px;
}

.app-image {
  width: 45px;
}
