<section class="charts-wrapper">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title *ngIf="repo != 'supergiant'" class="repo-actions-title">
        Add new or remove current repo
      </mat-card-title>
      <mat-card-title *ngIf="repo == 'supergiant'" class="repo-actions-title">
        Add new repo
      </mat-card-title>
    </mat-card-header>
    <mat-card-actions class="repo-actions">
      <div class="add-remove-icon-and-text" (click)="addRepo()">
        <span class="plus">
        </span>
        <div class="add-remove-text">
          Add new repo
        </div>
      </div>
      <div *ngIf="repo != 'supergiant'" class="add-remove-icon-and-text" (click)="removeRepo()">
        <span class="minus">
        </span>
        <div class="add-remove-text">
          <span>Remove current repo</span>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngFor="let chart of (charts$ | async)"
            class="card app-card"
            [routerLink]="['details', chart.name]">
    <mat-card-header>
      <mat-card-title>
        <h2>{{ chart.name | titlecase }}</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
      {{ (chart.description.length>96)? (chart.description | slice:0:92)+'...':(chart.description) }}
      </p>
    </mat-card-content>
    <mat-card-actions class="app-actions">

      <div class="app-logo-wrapper">
        <img class="app-image"
             [src]="chart.icon"
             onError="this.src='/assets/img/error.svg'">
      </div>
    </mat-card-actions>
  </mat-card>
</section>

<mat-paginator #paginator
               [length]="itemsCount"
               [pageSize]="10"
               [pageSizeOptions]="[10, 20, 60, 100]">
</mat-paginator>
