@mixin action-button {
  margin-bottom: 10px;
  color: white;
}

.mat-card-actions {
  display: flex;
  justify-content: space-between;

  .add-repo {
    @include action-button;

    background: #D10088;
  }

  .remove-repo {
    @include action-button;

    background: #414141;
    border: none;
  }
}

.charts-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  .app-card {

    margin-right: 30px;
    margin-bottom: 30px;
    width: 300px;

    .mat-card-actions {
      display: flex;
      align-items: center;

      .app-logo-wrapper {
        align-items: center;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        height: 64px;
        width: 64px;
      }
    }
  }
}

button {
  cursor: pointer;
  font-size: 14px;
  color: #D10088;
  border: 2px solid #D10088;
  background: transparent;
  padding: 8px 32px;
}

.app-image {
  width: 45px;
}
