.import-cluster-wrapper {

  .warning-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 38px;

    .aws-svg {
      width: 471px;
      height: 297px;
      align-self: center;
    }

    .no-cloud-accounts {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 70px;
      width: 541px;
      min-height: 296px;

      h2 {
        font-family: "Montserrat", sans-serif;
        font-size: 48px;
        font-weight: 150;
        margin-bottom: 24px;
        line-height: 61px;
        letter-spacing: 0.1em;
      }

      p {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 24px;
        line-height: 28px;
      }

      button {
        min-width: 193px;
        min-height: 48px;
        background-image: linear-gradient(334deg, #8721ff, #8b22fb, #ff457e);
      }
    }
  }

  .form-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 24px;
    margin: 0 auto;
    width: 100%;

    .import-form {
      display: flex;
      justify-content: space-between;

      .left-fields {
        display: flex;
        flex-direction: column;
        margin-right: 24px;
        width: 290px;

        .mat-form-field {
          margin-bottom: 15.5px;
        }

        .regionsLoading {
          animation: loading 1s infinite;
        }
      }

      .right-fields {
        display: flex;
        flex-direction: column;
        width: 100%;

        .mat-form-field {
          margin-bottom: 8px;
        }
      }

      @keyframes loading {
        0% {
          opacity: 0.5;
        }

        50% {
          opacity: 1;
        }

        100% {
          opacity: 0.5;
        }
      }
    }

    .warning {
      color: #f44336;
    }

    button {
      min-width: 102px;
      min-height: 36px;
    }
  }
}

.sticky-filter-wrapper {
  position: sticky;
  padding: 10px !important;
  z-index: 100;
  top: 0;
  background-color: #424242;
  border-bottom: 1px solid rgba(255,255,255,0.25);
}

.mat-spinner {
  display: inline-block;
}

.mat-hint {
  align-self: flex-end;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  font-style: italic;
  margin-left: auto;
}
