.import-cluster-wrapper {

  .warning-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 48px auto;
    height: 296px;
    width: 1080px;

    .aws-svg {
      background: url('/assets/img/illustr_cloud_aws.svg') center no-repeat;
      height: 297px;
      width: 471px;
    }

    .no-cloud-accounts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 541px;

      .headline {
        color: #d10088;
        display: block;
        font-family: "Montserrat", sans-serif;
        // font-size: 36px;
        line-height: 55px;
      }

      .description {
        font-size: 18px;
        margin-top: 20px;
      }

      button {
        background-image: linear-gradient(315deg, #8721ff, #8b22fb 18%, #ff457e);
        box-shadow: 0px 0px 30px rgba(255, 0, 235, 0.64);
        margin-top: 40px;
      }
    }
  }

  .form-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 24px;
    margin: 0 auto;
    width: 100%;

    .import-form {
      display: flex;
      justify-content: space-between;

      .left-fields {
        display: flex;
        flex-direction: column;
        margin-right: 24px;
        width: 290px;

        .mat-form-field {
          margin-bottom: 15.5px;
        }

        .regionsLoading {
          animation: loading 1s infinite;
        }
      }

      .right-fields {
        display: flex;
        flex-direction: column;
        width: 100%;

        .mat-form-field {
          margin-bottom: 8px;
        }
      }

      @keyframes loading {
        0% {
          opacity: 0.5;
        }

        50% {
          opacity: 1;
        }

        100% {
          opacity: 0.5;
        }
      }
    }

    .warning {
      color: #f44336;
    }

    button {
      min-width: 102px;
      min-height: 36px;
    }
  }
}

.sticky-filter-wrapper {
  position: sticky;
  padding: 10px !important;
  z-index: 100;
  top: 0;
  background-color: #424242;
  border-bottom: 1px solid rgba(255,255,255,0.25);
}

.mat-spinner {
  display: inline-block;
}

.mat-hint {
  align-self: flex-end;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  font-style: italic;
  margin-left: auto;
}

::ng-deep .mat-form-field-required-marker {
  color: #D10088;
}
