<div class="import-cluster-wrapper">
  <ng-container *ngIf="(cloudAccounts$ | async)?.length == 0">
    <div class="warning-wrapper">
      <div class="aws-svg"></div>

      <div class="no-cloud-accounts">
        <h1 class="headline">No AWS accounts linked to Control</h1>
        <p class="description">Control only supports imports of AWS clusters at this time. Click below to link an account and get started importing your cluster.</p>
        <button mat-raised-button [routerLink]="['/system/cloud-accounts/new']" type="button">LINK AN ACCOUNT</button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="(cloudAccounts$ | async)?.length > 0">
    <h1>Import a Kubernetes Cluster</h1>

    <div class="form-wrapper">
      <form class="import-form" [formGroup]="importForm">
        <div class="left-fields">
          <mat-form-field>
            <input matInput type="text" formControlName="clusterName" placeholder="Cluster name" autofocus="true" required>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Choose a cloud account" (selectionChange)="selectCloudAccountAndGetRegions($event.value)" formControlName="cloudAccount" required>
              <mat-option *ngFor="let account of (cloudAccounts$ | async)" [value]="account">{{ account.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field [ngClass]="{ 'regionsLoading': regionsLoading }">
            <mat-select placeholder="Select a Region"
                        formControlName="region"
                        (openedChange)="[regionsFilter = '', regionFilter.focus()]"
                        required>
              <div class="sticky-filter-wrapper">
                <input #regionFilter
                       matInput
                       type="text"
                       placeholder="Filter regions..."
                       [(ngModel)]="regionsFilter"
                       [ngModelOptions]="{ standalone: true }">
              </div>
              <mat-option *ngFor="let r of availableRegionNames | callback: regionsFilter"
                          [value]="r">{{ r }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="K8S Version" formControlName="K8SVersion" required>
              <mat-option *ngFor="let k of clusterOptions.K8sVersions"
                          [value]="k">{{ k }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="RBAC Enabled?" formControlName="rbacEnabled" required>
              <mat-option [value]="true">true</mat-option>
              <mat-option [value]="false">false</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="right-fields">
          <mat-form-field>
            <textarea matInput rows="4" formControlName="kubeconfig" placeholder="Kubeconfig" required></textarea>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput rows="4" formControlName="publicKey" placeholder="Public SSH Key" required></textarea>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput rows="4" formControlName="privateKey" placeholder="Private SSH Key" required></textarea>
            <mat-hint align="end">Provide the ubuntu user’s private key that allows ssh access to your Kubernetes cluster. If you are importing a Supergiant-created cluster, you can download the needed private key from the cluster’s detail page.</mat-hint>
          </mat-form-field>
        </div>
      </form>

      <div *ngIf="clusterName.invalid">
        <p *ngIf="clusterName.errors.nonUniqueName"
           class="warning">Cluster name must be unique</p>
        <p *ngIf="clusterName.errors.maxlength"
           class="warning">Cluster name must be less than 12 characters</p>
        <p *ngIf="clusterName.errors.pattern"
           class="warning">Cluster name must start with a-z or A-Z, and can only contain a-z, A-Z, 0-9, and -
                           characters</p>
      </div>

      <button mat-raised-button type="button" color="primary" (click)="importCluster(importForm)">
        <ng-container *ngIf="!importing">
          IMPORT
        </ng-container>
        <ng-container *ngIf="importing">
          <mat-spinner [diameter]="24"></mat-spinner>
        </ng-container>
      </button>
    </div>
  </ng-container>
</div>
