.menu-item {
  cursor: pointer;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 2px;

  &:last-of-type {
    margin-bottom: 0px;
  }
}

.new-cluster {
  color: #d10088;
  font-weight: 300;
}
