<div class="app-dashboard-container">
  <section class="app-dashboard-primary">
    <div class="row">
      <div class="col-12">
        <h2>Clusters List</h2>
        <button *ngIf="!selected.length > 0" type="button" class="btn btn-primary" [routerLink]="['/clusters/new']">Deploy Cluster</button>
        <button *ngIf="selected.length > 0" type="button" class="btn btn-primary" (click)="deleteKube()">Delete</button>
        <div>
          <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [columns]="columns" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="5" [selected]="selected" [selectionType]="'multiClick'" (select)='onSelect($event)'>
          </ngx-datatable>
        </div>
      </div>
    </div>
