<h2 mat-dialog-title>Configure App</h2>
<mat-dialog-content>
  <div ace-editor
       [(text)]="values"
       [readOnly]="false"
       [autoUpdateContent]="true"
       [durationBeforeCallback]="1000"
       (textChanged)="onChange($event)"
       style="min-height: 200px; width:100%; overflow: auto;"></div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button
          [mat-dialog-close]="valuesBackup">CANCEL
  </button>
  <button (click)="save()"
          color="primary"
          mat-button>SAVE
  </button>

</mat-dialog-actions>
