<app-load-balancers-header></app-load-balancers-header>
<app-header></app-header>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Kube</th>
      <th>Name</th>
      <th>Address</th>
      <th>Status</th>
    </tr>
</thead>
   <!-- <tr app-session *ngFor="let session of sessions" [session]="session"></tr> -->
   <tr>
     <td><input type="checkbox" id="checkbox" /></td>
     <td>donkey</td>
     <td>elb-donkey</td>
     <td>110.2.6.87</td>
     <td><i class="fa fa-dot-circle-o fa-2x text-success" aria-hidden="true"></i></td>
   </tr>
</table>
