<div class="app-kube-resources-container">
  <section>

    <header class="app-context-header-panel">
      <button *ngIf="schema" type="button" class="back-button" (click)="reset()"></button>
      <button *ngIf="!schema" type="button" class="back-button" (click)="back()"></button>

      <h2 *ngIf="!schema"><i class="fa fa-server"></i> Create a Cluster Resource</h2>
      <h2 *ngIf="schema"><i class="fa fa-server"></i> Create a {{ selectedResourceType }}</h2>
    </header>

    <h3 *ngIf="!schema">Select a Resource Type</h3>

    <div *ngIf="!schema">
      <button mat-button color="primary" *ngFor="let resource of resourceTypes" (click)="chooseResourceType(resource)">{{ resource.displayName }}</button>
    </div>

    <div *ngIf="schema" class="inputs-wrapper">
      <!-- [@.disabled]="true" tells Material not to render the sliding animation for tab content. https://github.com/angular/material2/issues/2706 -->
      <mat-tab-group [@.disabled]="true">
        <mat-tab>
          <ng-template mat-tab-label>
            Form
          </ng-template>
          <br>
          <div class="form-wrapper">
            <json-schema-form
              framework="material-design"
              [schema]="schema"
              [layout]="layout"
              [(data)]="model"
              (onSubmit)="createKubeResource($event)"
              (onChanges)="updateFromForm($event)">
            </json-schema-form>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            JSON
          </ng-template>
          <br>
          <div class="json-wrapper">
            <ace-editor [(text)]="modelString" mode="json" (textChanged)="convertToObj($event)" style="height:500px;width:100%"></ace-editor>
            {{ badString }}
            <div class="json-extras">
              <p class="json-help">Note: editing key names will cause submission errors</p>
              <button mat-raised-button class="mat-raised-button mat-accent reset-json" type="button" (click)="resetModel(selectedResourceType)">Reset</button>
            </div>
            <button mat-raised-button class="mat-raised-button mat-primary" type="button" (click)="createKubeResource(model)">Create</button>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </section>
</div>
