<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>

    <div>

      <div>

        <a>
          <h1>Supergiant</h1>
        </a>

        <div class="container" style="width: 100px; float: left;">
          <ngb-tabset type="pills">
            <ngb-tab title="Sessions">
              <ng-template ngbTabContent>
                <p>SG Sessions page.</p>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Users">
              <ng-template ngbTabContent>
                <p>SG Users page.</p>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Cloud Accounts">
              <ng-template ngbTabContent>
                <p>Cloud Accounts</p>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Kubes">
              <ng-template ngbTabContent>
                <p>Kubes</p>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Nodes">
              <ng-template ngbTabContent>
                <p>Nodes</p>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Load Balancers">
              <ng-template ngbTabContent>
                <p>Load Balancers</p>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Pods">
              <ng-template ngbTabContent>
                <p>Pods</p>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Services">
              <ng-template ngbTabContent>
                <p>Services</p>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Volumes">
              <ng-template ngbTabContent>
                <p>Volumes</p>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Helm Repos">
              <ng-template ngbTabContent>
                <p>Helm Repos</p>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Helm Charts">
              <ng-template ngbTabContent>
                <p>Helm Charts</p>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Helm Releases">
              <ng-template ngbTabContent>
                <p>Helm Releases</p>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>

      </div>

      <div>
        {{ body }}
      </div>

    </div>

  </body>
</html>
