:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  // TODO: remove these 'magic numbers'
  padding: 49px;

  .content {
    min-height: calc(100vh - 375px);
    margin-top: 110px;
  }

  .app-footer {
    padding-bottom: 0px;
  }
}
