<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {{ title }}
    </title>

    <link rel="shortcut icon" href="/ui/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/ui/assets/img/favicon.ico" type="image/x-icon">

    <!-- Vendor -->
    <script src="/ui/assets/js/vendor/jquery-3.1.0.min.js"></script>

    <!-- Font -->
    <link href="/ui/assets/fonts/Montserrat-Regular.ttf" rel="stylesheet">
    <link href="/ui/assets/fonts/OpenSans-Regular.ttf" rel="stylesheet">
    <link href="/ui/assets/fonts/OpenSans-Semibold.ttf" rel="stylesheet">

    <!-- Supergiant main styles -->
    <link rel="stylesheet" href="/ui/assets/css/main.css">

    <!-- Supergiant main JavaScript -->
    <script src="/ui/assets/js/main.js"></script>
    <script src="/ui/assets/js/modal.js"></script>
    <script src="/ui/assets/js/dropdown.js"></script>

  </head>
  <body>

    <div id="container">

      <div id="sidebar">

        <a href="/" id="logo">
          Supergiant
        </a>

        <div id="nav">
          <a>Sessions</a>
          <a>Users</a>
          <a>Cloud Accounts</a>
          <a>Kubes</a>
          <a>Nodes</a>
          <a>Load Balancers</a>
          <a>Pods</a>
          <a>Services</a>
          <a>Volumes</a>
          <a>Helm Repos</a>
          <a>Helm Charts</a>
          <a>Helm Releases</a>
        </div>

      </div>

      <div id="content">
        {{ body }}
      </div>

    </div>

  </body>
</html>
