:host {
  background: url(assets/img/sg2-bg-grad.jpg) center top / cover no-repeat;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 100%;
  width: 100%;

  .content {
    margin-top: 100px;
    min-height: 69%;
  }
}
