:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  // TODO: remove these 'magic numbers'
  padding-top: 49px;
  padding-left: 49px;
  padding-right: 49px;
  padding-bottom: 24px;

  .content {
    min-height: calc(100vh - 346px);
    margin-top: 110px;
  }
}
