@import "src/assets/css/variables";

.new-clusters-wrapper {
  margin-top: 7px;

  h1 {
    margin-bottom: 18px;
  }

  .mat-form-field {
    margin-bottom: 10px;
  }

  .mat-form-field-required-marker {
    color: #D10088;
  }

  .warning {
    color: #f44336;
    font-weight: 300;
    margin: 4px 0 0 0;
  }

  .mat-stepper-horizontal {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.25);

    .mat-step-label {
      font-weight: 300;
    }

    .mat-step-label.mat-step-label-active {
      font-size: 16px;
      color: #D10088;
    }

    .mat-step-label-selected {
      font-weight: 500;
    }

    .mat-step-icon {
      font-family: Montserrat, sans-serif;
      font-size: 17px;
      font-weight: 500;
      color: black;
      background-image: linear-gradient(315deg, #8721ff, #ff457e);
    }

    .mat-step-icon-not-touched {
      font-family: Montserrat, sans-serif;
      font-size: 17px;
      font-weight: 500;
      color: black;
    }

    .step-actions {
      display: flex;
      margin-top: 30px;

      button {
        margin-left: 24px;
        min-width: 100px;

        &:nth-of-type(1) {
          margin-left: 0px;
        }

        &:focus {
          outline: -webkit-focus-ring-color auto 5px;
        }
      }
    }

    .cluster-config-step {
      display: flex;
      justify-content: space-between;

      .input-group {
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        width: 100%;

        &:nth-of-type(1) {
          margin-left: 0px;
        }
      }
    }

    .provider-config-step {
      display: flex;
      justify-content: flex-start;

      .input-group {
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        width: 290px;

        &:nth-of-type(1) {
          margin-left: 0px;
        }

        .regionsLoading {
          animation: loading 1s infinite;
        }
      }

      .public-key-wrapper {
        width: 900px;
      }
    }

    .machine-config-step {
      display: flex;
      flex-direction: column;

      .machine {
        display: flex;
        width: auto;

        .mat-form-field {
          margin-right: 24px;
          width: 290px;
        }

        .machinesLoading {
          animation: loading 1s infinite;
        }

        .quantity {
          width: 30px;
        }

        .delete {
          background: url(/assets/img/delete-pink.svg) no-repeat;
          background-size: 100% 100%;
          background-position: center;
          cursor: pointer;
          display: inline-block;
          margin: auto 0;
          margin-top: 18px;
          height: 25px;
          width: 25px;

          &:active {
            transform: scale(0.95, 0.95);
          }
        }

        .azsLoading {
          animation: loading 1s infinite;
        }
      }

      .add-machines {
        cursor: pointer;
        display: flex;
        width: max-content;

        &:active {
          transform: scale(0.95, 0.95);
        }

        .plus {
          background: url(/assets/img/plus-pink.svg) no-repeat;
          background-size: 100% 100%;
          background-position: center;
          margin: auto 0;
          height: 20px;
          width: 20px;
        }

        .add-label {
          font-size: 14px;
          font-weight: 300;
          padding-left: 12px;
        }
      }

      .machine-config-warning {
        color: #f44336;
        font-weight: 300;
        margin: 24px 0 0 0;
      }
    }

    .review-wrapper {

      .steps {
        display: flex;
        justify-content: center;

        .provider {
          margin-left: 100px;
          margin-right: 100px;
        }

        .label {
          color: #D10088;
          font-family: "Montserrat", sans-serif;
          font-size: 14px;
        }

        .machine-label {
          font-size: 16px;
          margin-bottom: 0px;
        }

        .create-new {
          font-size: 14px;
          font-style: italic;
          opacity: 0.5;
        }
      }

      .action-buttons-wrapper {
        display: flex;
        justify-content: flex-end;

        button {
          margin-right: 24px;

          &:last-of-type {
            margin-right: 0px;
          }

          &:focus {
            outline: -webkit-focus-ring-color auto 5px;
          }

          &.disable {
            pointer-events: none;
          }
        }

        .create {
          min-width: 112px;
        }

        .mat-spinner {
          margin: 6px auto;

          circle {
            stroke: #fff;
          }
        }
      }
    }

    @keyframes loading {
      0% {
        opacity: 0.5;
      }

      50% {
        opacity: 1;
      }

      100% {
        opacity: 0.5;
      }
    }
  }

  .no-cloud-accounts {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    margin: 24px auto 0;
    padding: 24px 0px;
    width: 956px;

    h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 32px;
      font-weight: 300;
      margin-bottom: 24px;
    }

    p {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 24px;
    }
  }
}
.mat-form-field:not(.mat-focused)  {
  .mat-form-field-underline {
    opacity: .25;
    background-color: white!important;
  }
}

.mat-select-content {
  .select-filter {
    position: relative;
    padding: 10px !important;
  }
}

.mat-hint {
  color: grey!important;

  a {
    color: #D10088;
  }
}