.new-clusters-wrapper {
	margin-top: 78px;

	h1 {
		margin-left: 48px;
		margin-botton: 18px;
		// remove me
		letter-spacing: 3px;
	}

	.inputs-wrapper {

		button {
			display: block;
			margin-left: auto;
		}
	}
}
