<div class="new-clusters-wrapper">
  <h1>Create a Kubernetes Cluster</h1>

  <mat-horizontal-stepper *ngIf="(availableCloudAccounts$ | async)?.length > 0"
                          [linear]="true"
                          #stepper>
    <!--
    TODO:
      - material considers a step "done" when all fields are completed and *NOT* editable;
        if complete and editable it shows "edit" icon
      - we should consider manually overriding the icons to remove the non-editable requirement for "done" state
      - https://github.com/angular/material2/issues/8997
    -->

    <mat-step label="Cluster Configuration"
              [stepControl]="clusterConfig">
      <form [formGroup]="clusterConfig"
            class="cluster-config-step">
        <div class="input-group">
          <mat-form-field>
            <input matInput
                   type="text"
                   [(ngModel)]="clusterName"
                   placeholder="Cluster name"
                   autofocus="true"
                   formControlName="name"
                   required>
            <mat-hint align="end">Must be fewer than 12 characters</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Choose a cloud account"
                        [(value)]="selectedCloudAccount"
                        (selectionChange)="selectCloudAccount($event.value)"
                        formControlName="cloudAccount"
                        required>
              <mat-option *ngFor="let account of (availableCloudAccounts$ | async)"
                          [value]="account">{{ account.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="input-group">
            <mat-form-field>
            <mat-select placeholder="Network Provider"
                        formControlName="networkProvider"
                        required>
              <mat-option *ngFor="let n of clusterOptions.networkProviders"
                          [value]="n">{{ n }}</mat-option>
            </mat-select>
            <mat-hint align="end">Read more about
              <a href="https://kubernetes.io/docs/concepts/cluster-administration/networking/"
                 target="_blank">cluster networking</a>
            </mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="K8s Version"
                        formControlName="K8sVersion"
                        required>
              <mat-option *ngFor="let k of clusterOptions.K8sVersions"
                          [value]="k">{{ k }}</mat-option>
            </mat-select>
            <mat-hint align="end">Check out k8s
              <a href="https://kubernetes.io/docs/setup/release/notes/"
                 target="_blank">release notes</a>
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="input-group">
          <mat-form-field>
            <input matInput
                   placeholder="CIDR"
                   type="text"
                   formControlName="cidr"
                   required>
            <mat-hint align="end">What is
              <a href="https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing"
                 target="_blank">CIDR</a>?
            </mat-hint>
          </mat-form-field>

          <mat-form-field>
            <textarea (blur)="putExposedAddressesInArray($event)"
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="6"
                      matInput
                      formControlName="exposedAddresses"
                      placeholder="IP Whitelist"></textarea>
            <mat-hint align="end">Enter each
              <a href="https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing"
                target="_blank">CIDR</a> block on its own line
            </mat-hint>
          </mat-form-field>
        </div>
      </form>

      <div *ngIf="name.invalid">
        <p *ngIf="name.errors.nonUniqueName"
           class="warning">Cluster name must be unique</p>
        <p *ngIf="name.errors.maxlength"
           class="warning">Cluster name must be less than 12 characters</p>
        <p *ngIf="name.errors.pattern"
           class="warning">Cluster name must start with a-z or A-Z, and can only contain a-z, A-Z, 0-9, and -
                           characters</p>
      </div>

      <div *ngIf="cidr.invalid">
        <p *ngIf="cidr.errors.invalidCidr"
           class="warning">{{ cidr.errors.invalidCidr.value }} is not valid CIDR notation</p>
      </div>

      <div *ngIf="exposedAddresses.invalid">
        <p *ngIf="exposedAddresses.errors.invalidCidrs"
           class="warning">One or more values in the IP Whitelist does not have valid CIDR notation</p>
      </div>

      <div class="step-actions">
        <button mat-raised-button
                color="primary"
                matStepperNext>NEXT
        </button>
      </div>
    </mat-step>

    <mat-step label="Provider Configuration"
              [stepControl]="providerConfig">
      <!-- digital ocean -->
      <ng-container *ngIf="selectedCloudAccount?.provider == 'digitalocean'">
        <form [formGroup]="providerConfig"
              class="provider-config-step">
          <mat-form-field [ngClass]="{ 'regionsLoading': regionsLoading }">
            <mat-select placeholder="Select a Region"
                        formControlName="region"
                        (openedChange)="regionsFilter = ''"
                        (selectionChange)="selectRegion($event.value)"
                        required>
              <input class="select-filter"
                     matInput
                     type="text"
                     placeholder="Filter regions..."
                     [(ngModel)]="regionsFilter"
                     [ngModelOptions]="{ standalone: true }"
                     autofocus>
              <mat-option *ngFor="let r of availableRegions?.regions | callback: regionsFilterCallback"
                          [value]="r">{{ r.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </ng-container>

      <!-- aws -->
      <ng-container *ngIf="selectedCloudAccount?.provider == 'aws'">
        <form [formGroup]="providerConfig"
              class="provider-config-step">
          <div class="input-group">
            <mat-form-field [ngClass]="{ 'regionsLoading': regionsLoading }">
              <mat-select placeholder="Select a Region"
                          formControlName="region"
                          (openedChange)="regionsFilter = ''"
                          (selectionChange)="selectRegion($event.value)"
                          required>
                <input class="select-filter"
                       matInput
                       type="text"
                       placeholder="Filter regions..."
                       [(ngModel)]="regionsFilter"
                       [ngModelOptions]="{ standalone: true }"
                       autofocus>
                <mat-option *ngFor="let r of availableRegions?.regions | callback: regionsFilterCallback"
                            [value]="r">{{ r.name }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <input matInput
                     type="text"
                     formControlName="vpcCidr"
                     placeholder="VPC CIDR"
                     required>
            </mat-form-field>
          </div>

          <div class="input-group public-key-wrapper">
            <mat-form-field>
            <textarea cdkTextareaAutosize
                      cdkAutosizeMaxRows="11"
                      matInput
                      formControlName="publicKey"
                      placeholder="Public ssh key"
                      required></textarea>
              <mat-hint align="end">
                <a href="https://en.wikipedia.org/wiki/Secure_Shell#Key_management"
                   target="_blank">
                  Where do I find my public key?
                </a>
              </mat-hint>
            </mat-form-field>
          </div>

        </form>
      </ng-container>

      <!-- gce -->
      <ng-container *ngIf="selectedCloudAccount?.provider == 'gce'">
        <form [formGroup]="providerConfig"
              class="provider-config-step">
          <div class="input-group">
            <mat-form-field [ngClass]="{ 'regionsLoading': regionsLoading }">
              <mat-select placeholder="Select a Region"
                          formControlName="region"
                          (openedChange)="regionsFilter = ''"
                          (selectionChange)="selectRegion($event.value)"
                          required>
                <input class="select-filter"
                       matInput
                       type="text"
                       placeholder="Filter regions..."
                       [(ngModel)]="regionsFilter"
                       [ngModelOptions]="{ standalone: true }"
                       autofocus>
                <mat-option *ngFor="let r of availableRegions?.regions | callback: regionsFilterCallback"
                            [value]="r">{{ r.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="input-group public-key-wrapper">
            <mat-form-field>
            <textarea cdkTextareaAutosize
                      cdkAutosizeMaxRows="11"
                      matInput
                      formControlName="publicKey"
                      placeholder="Public ssh key"
                      required></textarea>
              <mat-hint align="end">
                <a href="https://en.wikipedia.org/wiki/Secure_Shell#Key_management"
                   target="_blank">
                  Where do I find my public key?
                </a>
              </mat-hint>
            </mat-form-field>
          </div>
        </form>
      </ng-container>

      <!-- azure -->
      <ng-container *ngIf="selectedCloudAccount?.provider == 'azure'">
        <form [formGroup]="providerConfig"
              class="provider-config-step">
          <div class="input-group">
            <mat-form-field [ngClass]="{ 'regionsLoading': regionsLoading }">
              <mat-select placeholder="Select a Region"
                          formControlName="region"
                          (openedChange)="regionsFilter = ''"
                          (selectionChange)="selectRegion($event.value)"
                          required>
                <input class="select-filter"
                       matInput
                       type="text"
                       placeholder="Filter regions..."
                       [(ngModel)]="regionsFilter"
                       [ngModelOptions]="{ standalone: true }"
                       autofocus>
                <mat-option *ngFor="let r of availableRegions?.regions | callback: regionsFilterCallback"
                            [value]="r">{{ r.name }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <input matInput
                     type="text"
                     formControlName="azureVNetCIDR"
                     placeholder="VNet CIDR"
                     required>
            </mat-form-field>
          </div>

          <div class="input-group public-key-wrapper">
            <mat-form-field>
            <textarea cdkTextareaAutosize
                      cdkAutosizeMaxRows="11"
                      matInput
                      formControlName="publicKey"
                      placeholder="Public ssh key"
                      required></textarea>
              <mat-hint align="end">
                <a href="https://en.wikipedia.org/wiki/Secure_Shell#Key_management"
                   target="_blank">
                  Where do I find my public key?
                </a>
              </mat-hint>
            </mat-form-field>
          </div>

        </form>
      </ng-container>


      <div *ngIf="vpcCidr.invalid">
        <p *ngIf="vpcCidr.errors.invalidCidr"
           class="warning">{{ vpcCidr.errors.invalidCidr.value }} is not valid CIDR notation</p>
      </div>

      <div *ngIf="azureVNetCIDR.invalid">
        <p *ngIf="azureVNetCIDR.errors.invalidCidr"
           class="warning">{{ azureVNetCIDR.errors.invalidCidr.value }} is not valid CIDR notation</p>
      </div>

      <div class="step-actions">
        <button mat-raised-button
                class="secondary"
                matStepperPrevious>BACK
        </button>
        <button mat-raised-button
                color="primary"
                matStepperNext>NEXT
        </button>
      </div>
    </mat-step>

    <mat-step label="Machine Configuration"
              [completed]="machinesConfigValid">
      <div class="machine-config-step">
        <!-- digital ocean -->
        <ng-container *ngIf="selectedCloudAccount?.provider == 'digitalocean'">
          <div class="machine"
               *ngFor="let m of machines; let idx = index">
            <mat-form-field>
              <mat-select #selectedMachineType
                          placeholder="Machine Type (size)"
                          id="m.machineType"
                          [(value)]="m.machineType"
                          (openedChange)="machineTypesFilter = ''"
                          (selectionChange)="validateMachineConfig(m)">
                <input class="select-filter"
                       matInput
                       type="text"
                       placeholder="Filter machines..."
                       [(ngModel)]="machineTypesFilter"
                       autofocus>
                <mat-option *ngFor="let type of availableMachineTypes | callback: machineTypesFilterCallback"
                            [value]="type">{{ type }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Role"
                          [(value)]="m.role"
                          (selectionChange)="validateMachineConfig(m)">
                <mat-option value="Master">Master</mat-option>
                <mat-option value="Node">Node</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="quantity">
              <input matInput
                     type="number"
                     min="1"
                     placeholder="Q-ty"
                     [(ngModel)]="m.qty"
                     (ngModelChange)="validateMachineConfig(m)">
            </mat-form-field>

            <div class="delete"
                 (click)="deleteMachine(idx)"
                 (keyup.enter)="deleteMachine(idx)"
                 tabindex="0">
            </div>
          </div>

          <div class="add-machines"
               (click)="addBlankMachine()"
               (keyup.enter)="addBlankMachine()"
               tabindex="0">
            <div class="plus"></div>
            <span class="add-label">Add more machines</span>
          </div>
        </ng-container>

        <!-- aws -->
        <ng-container *ngIf="selectedCloudAccount?.provider == 'aws'">
          <div class="machine"
               *ngFor="let m of machines; let idx = index">

            <mat-form-field [ngClass]="{ 'azsLoading': azsLoading }">
              <mat-select placeholder="Select an Availability Zone"
                          [(value)]="m.availabilityZone"
                          (openedChange)="machineTypesFilter = ''"
                          (selectionChange)="selectAz($event.value, idx)"
                          required>
                <mat-option *ngFor="let a of availabilityZones"
                            [value]="a">{{ a }}</mat-option>
              </mat-select>
            </mat-form-field>

            <!-- TODO: make this separate component -->
            <mat-form-field class="type"
                            [ngClass]="{ 'machinesLoading': machinesLoading }">
              <mat-select #selectedMachineType
                          placeholder="Machine Type (size)"
                          id="m.machineType"
                          [(value)]="m.machineType"
                          [disabled]="!m.availableMachineTypes"
                          (openedChange)="machineTypesFilter = ''"
                          (selectionChange)="validateMachineConfig(m)">
                <input class="select-filter"
                       matInput
                       type="text"
                       placeholder="Filter machines..."
                       [(ngModel)]="machineTypesFilter"
                       autofocus>
                <mat-option *ngFor="let type of m.availableMachineTypes | callback: machineTypesFilterCallback"
                            [value]="type">
                  {{ type }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="role">
              <mat-select placeholder="Role"
                          [(value)]="m.role"
                          (selectionChange)="validateMachineConfig(m)">
                <mat-option value="Master">Master</mat-option>
                <mat-option value="Node">Node</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="quantity">
              <input matInput
                     type="number"
                     min="1"
                     placeholder="Q-ty"
                     [(ngModel)]="m.qty"
                     (ngModelChange)="validateMachineConfig(m)">
            </mat-form-field>

            <div class="delete"
                 (click)="deleteMachine(idx)"
                 (keyup.enter)="deleteMachine(idx)"
                 tabindex="0">
            </div>
          </div>

          <div class="add-machines"
               (click)="addBlankMachine()"
               (keyup)="addBlankMachine($event)"
               tabindex="0">
            <div class="plus"></div>
            <span class="add-label">Add more machines</span>
          </div>
        </ng-container>

        <!-- gce -->
        <ng-container *ngIf="selectedCloudAccount?.provider == 'gce'">
          <div class="machine"
               *ngFor="let m of machines; let idx = index">

            <mat-form-field [ngClass]="{ 'azsLoading': azsLoading }">
              <mat-select placeholder="Select an Availability Zone"
                          [(value)]="m.availabilityZone"
                          (openedChange)="machineTypesFilter = ''"
                          (selectionChange)="selectAz($event.value, idx)"
                          required>
                <mat-option *ngFor="let a of availabilityZones"
                            [value]="a">{{ a }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="type"
                            [ngClass]="{ 'machinesLoading': machinesLoading }">
              <mat-select #selectedMachineType
                          placeholder="Machine Type (size)"
                          [(value)]="m.machineType"
                          [disabled]="!m.availableMachineTypes"
                          (openedChange)="machineTypesFilter = ''"
                          (selectionChange)="validateMachineConfig(m)">
                <input class="select-filter"
                       matInput
                       type="text"
                       placeholder="Filter machines..."
                       [(ngModel)]="machineTypesFilter"
                       autofocus>
                <mat-option *ngFor="let type of m.availableMachineTypes | callback: machineTypesFilterCallback"
                            [value]="type">
                  {{ type }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="role">
              <mat-select placeholder="Role"
                          [(value)]="m.role"
                          (selectionChange)="validateMachineConfig(m)">
                <mat-option value="Master">Master</mat-option>
                <mat-option value="Node">Node</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="quantity">
              <input matInput
                     type="number"
                     min="1"
                     placeholder="Q-ty"
                     [(ngModel)]="m.qty"
                     (ngModelChange)="validateMachineConfig(m)">
            </mat-form-field>

            <div class="delete"
                 (click)="deleteMachine(idx)"
                 (keyup.enter)="deleteMachine(idx)"
                 tabindex="0">
            </div>

          </div>

          <div class="add-machines"
               (click)="addBlankMachine()"
               (keyup.enter)="addBlankMachine()"
               tabindex="0">
            <div class="plus"></div>
            <span class="add-label">Add more machines</span>
          </div>
        </ng-container>

        <!-- azure -->
        <ng-container *ngIf="selectedCloudAccount?.provider == 'azure'">
          <div class="machine"
               *ngFor="let m of machines; let idx = index">
            <mat-form-field class="type">
              <mat-select #selectedMachineType
                          placeholder="Machine Type (size)"
                          id="m.machineType"
                          [(value)]="m.machineType"
                          (openedChange)="machineTypesFilter = ''"
                          (selectionChange)="validateMachineConfig(m)">
                <input class="select-filter"
                       matInput
                       type="text"
                       placeholder="Filter machines..."
                       [(ngModel)]="machineTypesFilter"
                       autofocus>
                <mat-option *ngFor="let type of availableMachineTypes | callback: machineTypesFilterCallback"
                            [value]="type">{{ type }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="role">
              <mat-select placeholder="Role"
                          [(value)]="m.role"
                          (selectionChange)="validateMachineConfig(m)">
                <mat-option value="Master">Master</mat-option>
                <mat-option value="Node">Node</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="quantity">
              <input matInput
                     type="number"
                     min="1"
                     placeholder="Q-ty"
                     [(ngModel)]="m.qty"
                     (ngModelChange)="validateMachineConfig(m)">
            </mat-form-field>

            <div class="delete"
                 (click)="deleteMachine(idx)"
                 (keyup.enter)="deleteMachine(idx)"
                 tabindex="0">
            </div>
          </div>

          <div class="add-machines"
               (click)="addBlankMachine()"
               (keyup.enter)="addBlankMachine()"
               tabindex="0">
            <div class="plus"></div>
            <span class="add-label">Add more machines</span>
          </div>
        </ng-container>

        <p *ngIf="displayMachinesConfigWarning"
           class="machine-config-warning">Current machine configuration is invalid. Please check that each machine has a
                                          type, role, the quantity of masters is an odd number, and there is at least one node.</p>
      </div>

      <div class="step-actions">
        <button mat-raised-button
                class="secondary"
                matStepperPrevious>BACK
        </button>
        <button mat-raised-button
                color="primary"
                (click)="nextStep()">NEXT
        </button>
      </div>
    </mat-step>

    <mat-step label="Review">
      <div class="review-wrapper">
        <h1>{{ clusterName }}</h1>
        <div class="steps">
          <div class="cluster">
            <h3>CLUSTER DETAILS</h3>
            <div>
              <p><span class="label">CLOUD ACCOUNT:</span> {{ selectedCloudAccount?.name }} ({{ selectedCloudAccount?.provider }})</p>
              <p><span class="label">NETWORK PROVIDER:</span> {{ clusterConfig.value.networkProvider }}</p>
              <p><span class="label">K8s VERSION:</span> {{ clusterConfig.value.K8sVersion }}</p>
              <p><span class="label">CIDR:</span> {{ clusterConfig.value.cidr }}</p>
              <p><span class="label">IP WHITELIST:</span>
                <div *ngFor="let e of exposedAddressesArray">
                  {{e}}
                </div>
            </div>
          </div>

          <div class="provider">
            <h3>PROVIDER CONFIGURATION</h3>
            <!-- digital ocean -->
            <div *ngIf="selectedCloudAccount?.provider == 'digitalocean'">
              <p><span class="label">REGION:</span> {{ providerConfig.value.region.name }}</p>
            </div>

            <!-- aws -->
            <div *ngIf="selectedCloudAccount?.provider == 'aws'">
              <p><span class="label">REGION: </span> {{ providerConfig.value.region.name }}</p>
              <p><span class="label">VPC CIDR: </span> {{ providerConfig.value.vpcCidr }}</p>
              <p><span class="label">PUBLIC KEY: </span><span class="action" (click)="showPublicKey()">review</span></p>
<!--               <p class="action" (click)="showPublicKey()"><span>show</span> PUBLIC KEY</p> -->
            </div>

            <!-- gce -->
            <div *ngIf="selectedCloudAccount?.provider == 'gce'">
              <p><span class="label">REGION:</span> {{ providerConfig.value.region.name }}</p>
            </div>

            <!-- azure -->
            <div *ngIf="selectedCloudAccount?.provider == 'azure'">
              <p><span class="label">REGION:</span> {{ providerConfig.value.region.name }}</p>
              <p><span class="label">VNet CIDR:</span> {{ providerConfig.value.azureVNetCIDR }}</p>
            </div>
          </div>

          <div class="machines">
            <h3>MACHINES</h3>
            <div>
              <div *ngFor="let m of machines">
                <!-- digital ocean -->
                <ng-container *ngIf="selectedCloudAccount?.provider == 'digitalocean'">
                  <p>{{ m.qty }} x {{ m.machineType }} ({{ m.role }})</p>
                </ng-container>

                <!-- aws -->
                <ng-container *ngIf="selectedCloudAccount?.provider == 'aws'">
                  <p class="label machine-label">{{ m.qty }} x {{ m.machineType }} ({{ m.role }})</p>
                  <p class="availability-zone">{{ m.availabilityZone }}</p>
                </ng-container>

                <!-- gce -->
                <ng-container *ngIf="selectedCloudAccount?.provider == 'gce'">
                  <p class="label machine-label">{{ m.qty }} x {{ m.machineType }} ({{ m.role }})</p>
                  <p class="availability-zone">{{ m.availabilityZone }}</p>
                </ng-container>

                <!-- azure -->
                <ng-container *ngIf="selectedCloudAccount?.provider == 'azure'">
                  <p>{{ m.qty }} x {{ m.machineType }} ({{ m.role }})</p>
                </ng-container>
              </div>
            </div>
          </div>
        </div>

        <div class="action-buttons-wrapper">
          <button mat-raised-button
                  class="secondary"
                  [ngClass]="{ 'disable': this.provisioning }"
                  matStepperPrevious>BACK
          </button>
          <!-- <button mat-raised-button class="secondary">SAVE PROFILE</button> -->
          <button mat-raised-button
                  class="create"
                  [ngClass]="{ 'disable': this.provisioning }"
                  color="primary"
                  (click)="createCluster()">
            <ng-container *ngIf="!provisioning">CREATE</ng-container>
            <ng-container *ngIf="provisioning">
              <mat-spinner [diameter]="24"></mat-spinner>
            </ng-container>
          </button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

  <div *ngIf="(availableCloudAccounts$ | async)?.length === 0">
    <div class="no-cloud-accounts">
      <h2>You have no cloud accounts linked to Supergiant</h2>
      <p>Link an AWS, GCE, Azure, or Digital Ocean cloud account and have a Supergiant cluster up in minutes</p>
      <div>
        <button mat-raised-button
                color="primary"
                [routerLink]="['/system/cloud-accounts/new']">LINK ACCOUNT
        </button>
      </div>
    </div>
  </div>
</div>

