<h2>
  <i class="fa fa-puzzle-piece"></i>
  Apps
</h2>

<div class="context-search-layout">
  <input type="search" placeholder="Search Apps" (input)="setSearch($event.target.value)">
</div>

<div class="context-secondary-panel">
  <button class="btn btn-primary" id="new" (click)="sendOpen(true)">Deploy Selected</button>

  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-sm btn-outline-primary" id="actions" ngbDropdownToggle>Actions</button>

    <div class="dropdown-menu" aria-labelledby="actions">
      <button class="dropdown-item" (click)="openRepoModal(true)">Repos</button>

      <button class="dropdown-item" (click)="deleteApp()">Delete</button>
    </div>
  </div>
</div>
