<app-cloud-accounts-header></app-cloud-accounts-header>
<app-cloud-accounts-new-modal></app-cloud-accounts-new-modal>
<app-cloud-accounts-new-submit></app-cloud-accounts-new-submit>
<app-header></app-header>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Provider</th>
    </tr>
</thead>
   <!-- <tr app-session *ngFor="let session of sessions" [session]="session"></tr> -->
   <tr app-cloud-account *ngFor="let cloudAccount of cloudAccounts" [cloudAccount]="cloudAccount"></tr>
</table>
