.badTextarea, .badTextarea:focus {
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  border: 1px solid rgba(255, 0, 0, 0.5);
}

.goodTextarea, .goodTextarea:focus {
  box-shadow: 0 0 5px rgba(0, 255, 71, 0.5);
  border: 1px solid rgba(0, 255, 71, 0.5);
}
