.mat-card {
  display: flex;

  .left {
    width: 70%;
  }
}

::ng-deep {
  .instructions {
    h1 {
      font-size: 24px;
    }

    code {
      background: grey;
      color: white;
    }
  }
}

.info {
  width: 100%;

  td {
    &:first-child {
      color: rgba(#fff, .5);
    }
  }
}

button {
  &.configure {
    margin-right: 16px;
  }
}
