<mat-card>
  <article class="left">
    <mat-card-header>
      <mat-card-title>
        <h2>Test asdf</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, cumque dolor earum exercitationem illum,
        incidunt inventore iure laborum numquam, obcaecati perferendis porro quae quaerat quas quos sapiente unde vel
        voluptatum.
      </p>
      <h3>Instructions</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consequatur culpa dolorum error facere, fugit
        hic
        ipsa ipsam ipsum itaque laboriosam nam non nostrum porro recusandae soluta tempore, temporibus velit!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consequatur culpa dolorum error facere, fugit
        hic
        ipsa ipsam ipsum itaque laboriosam nam non nostrum porro recusandae soluta tempore, temporibus velit!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, consequatur culpa dolorum error facere, fugit
        hic
        ipsa ipsam ipsum itaque laboriosam nam non nostrum porro recusandae soluta tempore, temporibus velit!</p>
    </mat-card-content>
  </article>
  <aside>
    <h3>Info</h3>
    <p>version</p>
    <p>Repo:</p>
    <h2>Actions</h2>
    <button>CONFIGURE</button>
    <button>DEPLOY</button>
  </aside>
</mat-card>
