.cluster-wrapper {
  border: 1px solid rgba(0,0,0,0);
  margin: 12px 0;
  transition: all 0.1s linear;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;

  &:hover {
    text-decoration: none;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,0.25);
    cursor: pointer;
  }

}

.cluster-info {
  display: flex;
  justify-content: flex-start;
  margin: 24px;

  .cluster-name {
    background-color: rgba(255, 0, 166, 0.25);
    padding: 20px 24px;
    margin-right: 2px;
    height: 95px;
    width: 210px;

    span {
      font-size: 18px;
      font-weight: 400;
      word-break: break-all;
    }
  }

  .cluster-data {
    margin: auto 0;
    width: 100%;

    .mat-table {
      background-color: rgba(0,0,0,0);

      .mat-header-row {
        background-color: rgba(255, 0, 166, 0.25);
        border: none;
        min-height: 45px;

        .mat-header-cell {
          color: #fff;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-size: 14px;
        }
      }

      .mat-row {
        background-color: rgba(255, 255, 255, 0.1);
        border: none;
        margin: 2px 0px;

        .mat-cell {
          color: #fff;
          font-family: "Roboto", sans-serif;
          font-size: 12px;
          overflow: unset;
        }

        &:last-child {
          margin-bottom: 0px;
        }

        .warn {
          color: #f44336;
        }
      }
    }
  }
}

.deleting {
  animation: deleting 2.5s infinite;
  pointer-events: none;
}

@keyframes deleting {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.failed {
  opacity: 0.8;
}

.provisioning-table {
  animation: provisioning-table 2.5s infinite;
}

@keyframes provisioning-table {
  0% {
    box-shadow: 0 0 0px 0 #e63d98;
  }

  50% {
    box-shadow: 0 0 50px 0 #e63d98;
  }

  100% {
    box-shadow: 0 0 0px 0 #e63d98;
  }
}

