// TODO: make global theme used variables
$rose: #D10088;

a:hover {
  text-decoration: none;
}

.mat-toolbar {
  position: relative;
  background: transparent;
}

.item {
  letter-spacing: 2px;
  font-size: 14px;
  margin-right: 64px;

  &:last-child {
    margin-right: 0;
  }

  &.active {
    color: $rose;
    outline: none;
    border-bottom: 1px solid $rose;
    padding-bottom: 10px;
  }
}
