<mat-toolbar>
  <span class="item"
        routerLink="/dashboard"
        routerLinkActive="active">
    <span>DASHBOARD</span>
  </span>
  <span class="item"
        routerLink="/clusters"
        routerLinkActive="active">
    <span>CLUSTERS</span>
    <i class="fa fa-angle-down"></i>
  </span>
  <mat-menu #menu="matMenu" yPosition="above">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <span class="item"
        routerLink="/apps"
        routerLinkActive="active">
    <span>APPS</span>
  </span>
  <span class="item"
        routerLink="/services"
        routerLinkActive="active"><span>SERVICES</span></span>
</mat-toolbar>
