.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 0px 24px 0px;

  .logo {
    height: 108px;
    width: 184px;

    margin-bottom: 65px;
  }

  .headline {
    margin-bottom: 30px;

    span {
      font-weight: 300;
      font-size: 58px;
      letter-spacing: 4px;
    }
  }

  .inputs-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 307px;
  }

  .buttons-wrapper {
    width: 307px;

    display: flex;
    justify-content: center;
    margin-bottom: 108px;

    .secondary {
      background-color: rgba(255,255,255,0.65);
      color: #d10088;
    }
  }

  .footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 1238px;

    svg {
      opacity: 0.5;
    }

    .certifications {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      height: 89px;
      width: 275px;

      .members-wrapper {
        display: flex;
        flex-direction: column;
        width: 190px;

        .made-by-qbox {
          margin-bottom: 14px;
          height: 52px;
          width: 190px;
        }

        .members {
          display: flex;
          justify-content: space-between;
          height: 23px;
          width: 190px;

          .cncf, .linux {
            width: 87px;

            svg {
              height: 100%;
              width: 100%;
            }
          }
        }
      }

      .kube-cert {
        height: 89px;
        width: 54px;

        svg {
          height: 100%;
        }
      }
    }

    .info {
      display: flex;
      justify-content: center;
      height: 18px;
      width: 100%;

      .copyright {
        font-size: 11px;
        font-weight: 100;
        opacity: 0.5;

        span {
          margin-right: 10px;
        }
      }

      .link {
        font-size: 11px;
        font-weight: 400;
        opacity: 0.5;
        margin: 0px 10px;
      }
    }
  }
}
