:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  // TODO: fix this
  margin-top: -110px;

  .logo {
    height: 108px;
    width: 184px;

    margin-bottom: 40px;
  }

  .welcome {
    display: inline-block;
    font-weight: 200;
    font-size: 32px;
    letter-spacing: 0px;
    margin-bottom: 34px;

    .headline {
      font-weight: 700;
    }
  }

  .coldstart-comm {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    margin-bottom: 18px;
    text-align: center;
    width: 472px;

    .cant-change {
      font-style: italic;
      font-weight: bold;
    }
  }

  .login-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    width: 375px;

    .mat-form-field {
      margin-bottom: 30px;

      ::ng-deep .mat-form-field-hint-spacer {
        display: none;
      }

      .mat-hint, .mat-error {
        margin: 0 auto;
        text-align: center;
        width: 90%;
      }

      .mat-hint {
        color: #fff;
      }
    }

    .warnings {
      color: #f44336;
      margin-top: 30px;
    }
  }

  .buttons-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .mat-form-field-hint-spacer {
    display: none;
  }

}
