<div class="app-clusters-container">
  <section class="app-clusters-new">

    <header class="app-context-header-panel">
      <button *ngIf="schema" type="button" class="back-button" (click)="back()"></button>

      <h2>Create a Cloud Account</h2>
    </header>

    <h3 *ngIf="!schema">Select a Cloud</h3>

    <div *ngIf="!schema">
      <button *ngFor="let provider of providers" type="button" class="btn btn-primary" (click)="sendChoice(provider)">{{ provider }}</button>
    </div>

    <div *ngIf="schema">
      <json-schema-form framework="bootstrap-3" [schema]="schema" [data]="model" (onSubmit)="create(value)" (onChanges)="value=$event"></json-schema-form>
    </div>
