.new-cloud-account-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow: scroll;

	h1 {
		margin-left: 48px;
		margin-botton: 18px;
		// remove me
		letter-spacing: 3px;
	}

	button {
		width: max-content;
	}

	.inputs-wrapper {

		.credentials-wrapper {
			display: flex;
			flex-direction: column;
			width: 100%;

			.provider-wrapper {
				display: flex;
				flex-direction: column;
				// font-weight for inputs should be defined by our custom typography,
				// but json-schema-form seems to ignore
				font-weight: 300;
				width: 100%;

				.mat-form-field-subscript-wrapper {
					display: none;
				}

				button[type="submit"] {
					display: block;
					margin-left: auto;
				}

				.gce-button {
					margin-left: auto;
					margin-top: 20px;
				}
			}
		}
	}
}
