<div class="subcontext">
  <div class="subcontext-actions">
    <div class="form-group row">
      <mat-form-field class="col-3">
        <input matInput [(ngModel)]="name" class="form-control" aria-describedby="Repo URL" placeholder="Repo Name">
      </mat-form-field>

      <mat-form-field class="col-5">
        <input matInput [(ngModel)]="url" type="url" class="form-control" aria-describedby="Repo URL" placeholder="Repo URL">
      </mat-form-field>
      
      <div class="col-2">
        <button mat-button color="primary" type="submit" (click)="save()">Add new Repo</button>
      </div>

      <div class="col-2">
        <button mat-button color="warn" [disabled]="selected.length === 0" (click)="delete()">Delete Selected Repo</button>
      </div>
    </div>
  </div>

  <div>
    <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [columns]="columns" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="5" [selected]="selected" [selectionType]="'multiClick'" (select)='onSelect($event)'></ngx-datatable>
  </div>
</div>
