<div class="subcontext">
  <div class="subcontext-actions">
    <div class="form-group row">
      <mat-form-field class="col-3">
        <input matInput [(ngModel)]="name" aria-describedby="Repo URL" placeholder="Repo Name">
      </mat-form-field>

      <mat-form-field class="col-5">
        <input matInput [(ngModel)]="url" type="url" aria-describedby="Repo URL" placeholder="Repo URL">
      </mat-form-field>
      
      <div class="col-4">
        <button mat-button color="primary" type="submit" (click)="save()">Add New Repo</button>
        <button mat-button color="warn" [disabled]="selected.length === 0" (click)="delete()">Delete Selected Repo</button>
      </div>
    </div>
  </div>

  <div>
    <ngx-datatable class="material expandable" [rows]="rows" [columnMode]="'force'" [columns]="columns" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="20" [selected]="selected" [selectionType]="'checkbox'" [selectAllRowsOnPage]="false" [displayCheck]="displayCheck" (select)='onSelect($event)'>
      <ngx-datatable-column name="checkbox" [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column name="Name" prop="name"></ngx-datatable-column>
      <ngx-datatable-column name="URL" prop="url">
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
