/*
  Base Rules
  ==========

  These are the defaults. They are almost exclusively single element selectors
  but it could include attribute selectors, pseudo-class selectors, child
  selectors or sibling selectors. Essentially, a base style says that wherever
  this element is on the page, it should look like this.
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,700');

body {
  background: url('/assets/img/sg2-bg-grad.jpg') center top / cover no-repeat;
  background-attachment: fixed;
}

html, body {
  color: #fff;
  min-height: 100%;
  font-size: 16px;
  margin: 0;
}

body,
input {
  font-family: 'Roboto', sans-serif;
}

a {
  cursor: pointer;
  &,
  &:visited {
    color: inherit;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $sg-pink;
}

h1 {
  letter-spacing: 3px;
}

h3 {
  letter-spacing: 2px;
}

button[mat-raised-button], button[mat-button] {
  border-radius: 32px;
  padding: 0px 30px;

  // https://github.com/angular/material2/issues/9416
  .mat-button-ripple, .mat-button-focus-overlay {
    border-radius: inherit;
  }

  &:focus {
    outline: none;
  }
}

.mat-form-field {
  font-size: 16px;
}

.mat-dialog-container {
  padding: 24px 24px 35px !important;

  background: #000000 !important;
  opacity: .8 !important;
}

button {
  outline: none;
}

.mat-card-actions {
  margin: 0 !important;
}

.mat-card-header-text {
  margin: 0 !important;
}

@mixin container-border {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(white, .2);
}

.mat-card {
  @include container-border;
  background: rgba(0, 0, 0, 0.7) !important;
}

.mat-dialog-container {
  @include container-border;

  // min-width: 480px !important;

  .mat-dialog-actions {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 16px;
    }
  }
}

button {
  .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: #ffffff !important;
  }
}


.mat-paginator {
  background-color: rgba(255, 255, 255, 0.1)!important;
}
