/*
  Base Rules
  ==========

  These are the defaults. They are almost exclusively single element selectors
  but it could include attribute selectors, pseudo-class selectors, child
  selectors or sibling selectors. Essentially, a base style says that wherever
  this element is on the page, it should look like this.
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,700');


html, body {
  color: #fff;
  height: 100%;
  font-size: 16px;
  margin: 0;
  overflow: hidden;
}

body,
input {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

a {
  &,
  &:visited {
    color: inherit;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $sg-pink;
}

h3 {
  letter-spacing: 2px;
}

button[mat-raised-button], button[mat-button] {
  border-radius: 32px;
  padding: 0px 30px;

  // https://github.com/angular/material2/issues/9416
  .mat-button-ripple, .mat-button-focus-overlay {
    border-radius: inherit;
  }
}

.mat-form-field {
  font-size: 16px;
}
