/*
  Modules
  =======
  These are the reusable, modular parts of our design. They are the callouts,
  the sidebar sections, the product lists and so on.
*/

.inputs-wrapper {
  background-color: rgba(0,0,0,0.5);
  border: 1px solid rgba(255,255,255,0.25);
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin: 0 auto;
  height: max-content;
  width: 612px;
}

button.secondary {
  border: 2px solid #fff;
  background-color: transparent;
}
