/*
  Modules
  =======
  These are the reusable, modular parts of our design. They are the callouts,
  the sidebar sections, the product lists and so on.
*/


.round {
  position: relative;

  label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;

    &:after {
      border: 2px solid #fff;
      border-top: none;
      border-right: none;
      content: "";
      height: 5px;
      left: 3px;
      opacity: 0;
      position: absolute;
      top: 5px;
      transform: rotate(-45deg);
      width: 12px;
    }
  }

  input {
    &[type="checkbox"] {
      visibility: hidden;

      &:checked+label {
        background-color: #0e6ccc;
        border-color: #0e6ccc;

        &:after {
          opacity: 1;
        }
      }
    }
  }
}


// Buttons

.btn-translucent {
  @extend .btn-secondary;

  background-color: transparent;
  border-color: transparent;

  &:hover {
    background-color: rgba(#666, 0.3);
    border-color: transparent;
  }
}

a.quickstatus {
  background: lighten($app-interactive-object-color, 33%);
  border-radius: $border-radius;
  color: #fff;
  display: block;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
  margin: 1rem;
  padding: 1rem;
  text-align: center;

  &:hover {
    background: $app-interactive-object-hover-color;
    text-decoration: none;
  }

  .quickstatus-label {
    display: block;
    font-size: 0.8em;
  }
  .quickstatus-data {
    display: block;
    font-size: 1.5em;
  }
}

// Menus

.dropdown-item {
  font-size: 0.8rem;

  i.fa {
    margin-right: 0.5em;
    opacity: 0.5;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
}
