@import '../node_modules/@angular/material/theming';
@include mat-core();

$primary: (
  50: #f2e2ee,
  100: #deb7d5,
  200: #c988b9,
  300: #b25a9e,
  400: #a1378b,
  500: #90107a,
  600: #850c75,
  700: #75046e,
  800: #660066,
  900: #4c0057,
//   A100: #000,
//   A200: #000,
//   A400: #000,
//   A700: #000,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$accent: (
  50: #fae5f2,
  100: #f3bde0,
  200: #ef91cb,
  300: #ed64b6,
  400: #ed3da2,
  500: #f0008e,
  600: #dd0088,
  700: #c60680,
  800: #af097a,
  900: #880b6f,
//   A100: #000,
//   A200: #000,
//   A400: #000,
//   A700: #000,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$alternate: (
    50: #f5e5f9,
    100: #e6bef1,
    200: #d692e9,
    300: #c564e0,
    400: #b83cd9,
    500: #aa00d1,
    600: #9a01cb,
    700: #8301c4,
    800: #6f00be,
    900: #4300b5,
  //   A100: #000,
  //   A200: #000,
  //   A400: #000,
  //   A700: #000,
    contrast: (
      50: $black-87-opacity,
      100: $black-87-opacity,
      200: $black-87-opacity,
      300: $black-87-opacity,
      400: $black-87-opacity,
      500: white,
      600: white,
      700: white,
      800: $white-87-opacity,
      900: $white-87-opacity,
      A100: $black-87-opacity,
      A200: white,
      A400: white,
      A700: white,
    )
  );

$warn: (
  50: #ffeaef,
  100: #ffcbd4,
  200: #f4959d,
  300: #ec6b77,
  400: #f84255,
  500: #ff253b,
  600: #ef163a,
  700: #dd0034,
  800: #d0002c,
  900: #c2001f,
//   A100: ,
//   A200: ,
//   A400: ,
//   A700: ,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

// Generate pallete:
$custom-theme-primary: mat-palette($primary, 800, 100, 900);
$custom-theme-accent: mat-palette($accent, 600, 100, 800);
// $custom-theme-accent: mat-palette($alternate, 800, 100, 900);
$custom-theme-warn: mat-palette($warn, 700, 100, 900);

// Generate theme:
$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

// Use theme:
@include angular-material-theme($custom-theme);

// Custom adjustments:
button[mat-button] {
  height: 2.7rem;
}

button[mat-button][color="primary"] {
    border: solid 0.1rem #660066;
    // border: solid 0.1rem #af097a;
    border-radius: 3px;
}

button[mat-button][color="accent"] {
    border: solid 0.1rem #af097a;
    // border: solid 0.1rem #6f00be;
    border-radius: 3px;
}

button[mat-button][color="warn"] {
    border: solid 0.1rem #dd0034;
    border-radius: 3px;
}

button[mat-button][disabled] {
    border: solid 0.1rem #eee;
}

input[type="checkbox"] {
  height: 25px;
}

.mat-button-toggle {
  height: 2.7rem;
  background-color: #fff;
  color: #660066;
  font-size: 0.9rem;
}

.mat-button-toggle-checked {
  background-color: #f2e2ee;
}

// Tabs:
.mat-tab-label {
  width: 100%;
}