<div>
  <!-- [@.disabled]="true" tells Material not to render the sliding animation for tab content. https://github.com/angular/material2/issues/2706 -->
  <mat-tab-group [@.disabled]="true">
    <mat-tab id="mat-tab-1" label="Logs">
      <div class="container" id="log" [innerHTML]="logData" (scroll)="onScroll($event)"></div>
    </mat-tab>

    <!-- A panel for notifications, which are those boxes that pop up when you submit an action like when creating a kube: -->
    <mat-tab label="Notifications">
      <div id="item_list_container">
        <table id="item_list" class="table table-hover">
          <thead>
            <tr>
              <th>Type</th>
              <th>Message</th>
            </tr>
          </thead>
          <tbody *ngIf="notificationItems.length > 0" >
            <tr *ngFor="let notificationItem of notificationItems">
              <td>{{ notificationItem[0] }}</td>
              <td>{{ notificationItem[1] }}</td>
            </tr>
          </tbody>

          <tbody *ngIf="notificationItems.length === 0">
            <tr>
              <td>Nothing here, yet. :]</td>
            </tr>
          </tbody>

        </table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>